<div ng-controller="GlobalController"> </div> <!-- Global controller -->

<style>
    .container-fluid {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* Centering nav-tabs -- DO NOT DELETE */
    .nav-tabs > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
        zoom:1; /* hasLayout ie7 trigger */
    }
    /* Centering nav-tabs -- DO NOT DELETE! */
    .nav-tabs {
        text-align:center;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <span translate="NEWS_MANAGEMENT">News management</span>
        </h1>
        <ol class="breadcrumb">
            <li><a translate="HOME" href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a translate="LAYOUT" href="#">Layout</a></li>
            <li translate="COLLAPSED_SIDEBAR" class="active">Collapsed Sidebar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="active fake-hyperlink">
                        <!--Create New User
							Add a tab for creating new user
                        -->
                        <a data-toggle="tab" class=" fade in active" ng-click="vm.toggleView('1')">
                            <i class="fa fa-pencil-square"></i> <span translate="POST_A_NEWS_ITEM">Post a news</span>
                        </a>
                    </li>

                    <li class="fake-hyperlink">
                        <!--Create New Office/Department
                            Add additional tab for creating new office/department
                        -->
                        <a data-toggle="tab" class=" fade in active" ng-click="vm.toggleView('2')">
                            <i class="fa fa-file"></i> <span translate="PUBLISHED_NEWS">Published news</span>
                        </a>
                    </li>

                    <li class="fake-hyperlink">
                        <!--Global Settings
                            Add additional tab for global settings
                        -->
                        <a data-toggle="tab" class=" fade in active" ng-click="vm.toggleView('3')">
                            <i class="fa fa-clipboard"></i> <span translate="DRAFT_NEWS">Draft news</span>
                        </a>
                    </li>

                    <!--Additional tabs can be added here-->
                </ul>

                <div class="tab-content">
                    <!--Create new user tab-->
                    <div id="create-user" ng-if="vm.viewCreateNews">
                        <div class="container-fluid">
                            <form id="createAccForm">
                                <fieldset>
                                    <legend translate="NEWS" class="col-md-offset-1 col-md-10">News</legend>
                                    <div class="row">
                                        <div class="form-group col-md-10  col-md-offset-1">
                                            <label translate="TITLE" for="Title">Title <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                            <input type="text" class="form-control" id="Title" ng-model="vm.news.title" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-10  col-md-offset-1">
                                            <label translate="CONTENT" for="Content">Content <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                            <textarea ui-tinymce class="form-control" id="Content" ng-model="vm.news.content" rows="10"></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend translate="RESTRICTION" class="col-md-offset-1 col-md-10">Restriction</legend>
                                    <div class="row">
                                        <div class="form-group col-md-10  col-md-offset-1">
                                            <label translate="WHO_CAN_VIEW_THIS" for="Viewable">Who can view this post? <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                            <select class="form-control" id="Viewable" ng-model="vm.news.viewable">
                                                <option translate="EVERYONE" value="everyone" title="Everyone">Everyone</option>
                                                <option translate="OFFICE" value="office" title="Office">Office</option>
                                                <option translate="DEPARTMENT" value="department" title="Department">Department</option>
                                                <option translate="CUSTOM" value="custom" title="Custom">Only these people</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="['office','department'].indexOf(vm.news.viewable) != -1">
                                        <div class="form-group col-md-10  col-md-offset-1">
                                            <label translate="OFFICE" for="Office">Office <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                            <select class="form-control" id="Office" ng-model="vm.restrict.office" ng-change="vm.updateDepartmentSource(vm.restrict.office)">
                                                <option ng-repeat="office in vm.offices" value="{{office.id}}">{{office.name}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="['department'].indexOf(vm.news.viewable) != -1">
                                        <div class="form-group col-md-10  col-md-offset-1">
                                            <label translate="DEPARTMENT" for="Department">Department <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                            <select class="form-control" id="Department" ng-model="vm.restrict.department" ng-disabled="!vm.restrict.office">
                                                <option ng-repeat="department in vm.availableDepts" value="{{department.id}}">{{department.dname}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row" ng-if="vm.news.viewable == 'custom'">
                                        <div class="form-group col-md-10  col-md-offset-1">
                                            <label translate="ADD_PEOPLE" for="Profiles">Add people <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                            <tags-input ng-model="vm.restrict.profiles"
                                                        placeholder="Add a person" size=1% display-property="name"
                                                        add-from-autocomplete-only=true>
                                                <auto-complete source="vm.queryTags($query)"></auto-complete>
                                            </tags-input>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="col-md-offset-1 col-md-10">
                                    <button translate="PUBLISH" type="submit" class="btn btn-success" ng-click="vm.publish(vm.news, vm.restrict)">Publish</button>
                                    <button translate="SAVE_AS_DRAFT" type="submit" class="btn" ng-click="vm.saveDraft(vm.news, vm.restrict)">Save as draft</button>
                                    <button translate="CLEAR" type="reset" class="btn btn-danger">Clear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--endof Create New User tab-->

                    <!--Create New Office/Department tab-->
                    <div id="create-office-department" ng-if="vm.viewPublished" class="news-table">
                        <div class="container-fluid">
                            <form id="published" >
                                <div class="row">
                                    <div class="form-group col-md-10  col-md-offset-1">
                                        <table class="table table-condensed table-striped">
                                            <thead>
                                            <tr>
                                                <th translate="TITLE">Title</th>
                                                <th translate="DATE_POSTED">Date posted</th>
                                                <th translate="AUTHOR">Author</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="p in vm.publishedArticles" ng-click="vm.showModal(p)" class="fake-hyperlink row-list">
                                                <td>{{p.title}}</td>
                                                <td>{{p.timeCreated | date:'fullDate'}}</td>
                                                <td>{{p.author}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--endof Create New Office/Department tab-->

                    <!--Global Settings tab-->
                    <div id="global-settings" ng-if="vm.viewDraft" class="news-table">
                        <div class="container-fluid">
                            <form id="globalSettings">
                                <div class="row">
                                    <div class="form-group col-md-10  col-md-offset-1">
                                        <table class="table table-condensed table-striped">
                                            <thead>
                                            <tr>
                                                <th translate="TITLE">Title</th>
                                                <th translate="DATE_POSTED">Date posted</th>
                                                <th translate="AUTHOR">Author</th>
                                            </tr>
                                            </thead>
                                            <tr ng-repeat="p in vm.draftArticles" ng-click="vm.showModal(p)" class="fake-hyperlink row-list">
                                                <td>{{p.title}}</td>
                                                <td>{{p.timeCreated | date:'dateInMillis'}}</td>
                                                <td>{{p.author}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--endof Global Settings tab-->
                </div>
            </div>
        </nav>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Pop out content -->
<!-- Modal -->
<div class="modal" id="newsModal" tabindex="-1" role="dialog" aria-labelledby="newsModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-corners">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="profileModalLabel">{{vm.modalNews.title}}</h4>
            </div>
            <div class="modal-body grey">
                <form id="newsEditForm" ng-if="vm.modalViewEdit">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-10  col-md-offset-1">
                                <label for="TitleModal">Title</label>
                                <input type="text" class="form-control" id="TitleModal" ng-model="vm.modalNews.title" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10  col-md-offset-1">
                                <label for="ContentModal">Content</label>
                                <textarea ui-tinymce class="form-control" id="ContentModal" ng-model="vm.modalNews.content" rows="10"></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-10  col-md-offset-1">
                                <label for="ViewableModal">Who can view this post?</label>
                                <select class="form-control" id="ViewableModal" ng-model="vm.modalNews.viewable">
                                    <option value="everyone" title="Everyone">Everyone</option>
                                    <option value="office" title="Office">Office</option>
                                    <option value="department" title="Department">Department</option>
                                    <option value="custom" title="Custom">Only these people</option>
                                </select>
                            </div>
                        </div>
                        <div class="row" ng-if="['office','department'].indexOf(vm.modalNews.viewable) != -1">
                            <div class="form-group col-md-10  col-md-offset-1">
                                <label for="OfficeModal">Office</label>
                                <select class="form-control" id="OfficeModal" ng-model="vm.modalNews.office_id"
                                        ng-change="vm.updateDepartmentSource(vm.modalNews.office_id)"
                                        ng-options="office.id as office.name for office in vm.offices">
                                </select>
                            </div>
                        </div>
                        <div class="row" ng-if="['department'].indexOf(vm.modalNews.viewable) != -1">
                            <div class="form-group col-md-10  col-md-offset-1">
                                <label for="DepartmentModal">Department</label>
                                <select class="form-control" id="DepartmentModal" ng-model="vm.modalNews.department_id"
                                        ng-disabled="!vm.modalNews.office_id"
                                        ng-options="department.id as department.dname for department in vm.availableDepts">
                                </select>
                            </div>
                        </div>
                        <div class="row" ng-if="vm.modalNews.viewable == 'custom'">
                            <div class="form-group col-md-10  col-md-offset-1">
                                <label for="Profiles">Add people</label>
                                <tags-input ng-model="vm.restrict.profiles"
                                            placeholder="Add a person" size=1% display-property="name"
                                            add-from-autocomplete-only=true>
                                    <auto-complete source="vm.queryTags($query)"></auto-complete>
                                </tags-input>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div ng-if="!vm.modalViewEdit">
                    <h1>{{vm.modalNews.title}}</h1>
                    <p ng-bind-html="vm.modalNews.content"></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-click="vm.previewToggle()">{{vm.modalViewEdit ? 'Preview' : 'Edit'}}</button>
                <button type="button" class="btn btn-success pull-left" ng-click="vm.updateNews(vm.modalNews, vm.restrict, 'published')">Publish</button>
                <button type="button" class="btn btn-default pull-left" ng-click="vm.updateNews(vm.modalNews, vm.restrict, 'draft')">Save as draft</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger pull-right" ng-click="vm.deleteNews(vm.modalNews)">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- END pop out content -->

