        <div ng-controller="GlobalController"> </div> <!-- Global controller -->
        <!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
        <link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

        <style>
            /* Centering nav-tabs -- DO NOT DELETE */
            .nav-tabs > li {
                float:none;
                display:inline-block;
                *display:inline; /* ie7 fix */
                zoom:1; /* hasLayout ie7 trigger */
            }
            /* Centering nav-tabs -- DO NOT DELETE! */
            .nav-tabs {
                text-align:center;
            }
            .wrapper-height {
                min-height: 921px;
            }
        </style>

        <!--Content Wrapper containing page content-->
        <div class="content-wrapper wrapper-height">
            <div id="applicationHistoryForm">
                <div class="container-fluid">
                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
                        <form id="leaveApplication" method="post">
                            <h1 translate="APPLICATION_HISTORY">Application History</h1>
                            <fieldset>
                                <legend translate="FILTER_BY_DATE">Filter by Date</legend>
                                <div class="row" style="padding-bottom: 20px">
                                    <!--Datepicker filter date from -->
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <label translate="DATE_FROM" class="control-label" for="application_history_filter_date_from">
                                            From
                                        </label>
                                        <div class="input-group">
                                            <input class="form-control" id="application_history_filter_date_from" name="application_history_filter_date_from" type="text"/>
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--endof Datepicker filter date from -->

                                    <!--Datepicker filter date to -->
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                        <label  translate="DATE_TO" class="control-label" for="application_history_filter_date_to">
                                            To
                                        </label>
                                        <div class="input-group">
                                            <input class="form-control" id="application_history_filter_date_to" name="application_history_filter_date_to" type="text"/>
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--endof Datepicker filter date to -->
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend translate="FILTER_BY_TYPE">Filter by Type</legend>
                                <!--Filter application -->
                                <div class="row" style="padding-bottom: 10px">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                        <tags-input ng-model="vm.types"
                                                    id="typeFilter"
                                                    placeholder="Add an application type" size=1%
                                                    add-from-autocomplete-only=true>
                                            <auto-complete source="vm.queryTags($query)"></auto-complete>
                                        </tags-input>
                                    </div>
                                </div>
                                <!--endof Filter Application -->

                                <div class="row" style="padding-bottom: 20px">
                                    <div>
                                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                                            <button translate="FILTER" type="submit" class="btn btn-primary" ng-click="vm.filter()">Filter</button>
                                            <button translate="RESET" type="reset" class="btn btn-danger">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <ul class="nav nav-tabs">
                                    <li class="fake-hyperlink" ng-class="vm.viewPending ? 'my-active' : ''">
                                        <!--Pending Applications
                                        -->
                                        <a data-toggle="tab" ng-click="vm.toggleView('pending-application')">
                                            <span class="glyphicon glyphicon-file"></span> <span translate="PENDING_APPLICATIONS">Pending Application</span>
                                        </a></li>
                                    <li class="fake-hyperlink" ng-class="!vm.viewPending ? 'my-active' : ''">

                                        <!--Reviewed Applications
                                        -->
                                        <a data-toggle="tab" ng-click="vm.toggleView('reviewed-application')">
                                            <span class="glyphicon glyphicon-folder-close"></span> <span translate="REVIEWED_APPLICATIONS">Reviewed Application</span>
                                        </a></li>

                                    <!--Additional tabs can be added here-->
                                </ul>
                                <div class="tab-content">
                                    <!--Employee Profile Information tab-->
                                    <div id="pending-application" class="active" ng-if="vm.viewPending">
                                        <div class="container-fluid">
                                            <form id="application_list">
                                                <table class="table table-condensed table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th><a translate="DATE_SUBMITTED">Date submitted</a></th>
                                                        <th translate="DATE_FROM">From</th>
                                                        <th translate="DATE_TO">To</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="p in vm.pendings">
                                                        <td>{{p.submittedDate}}</td>
                                                        <td>{{p.startDate | date:'fullDate'}}</td>
                                                        <td>{{p.endDate}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </div>
                                    </div>

                                    <!--endof Pending tab-->


                                    <div id="reviewed-application" class="  active" ng-if="!vm.viewPending">
                                        <div class="container-fluid">
                                            <form id="reviewed_application_list">
                                                <table class="table table-condensed table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th><a translate="DATE_SUBMITTED">Date submitted</a></th>
                                                            <th translate="DATE_FROM">From</th>
                                                            <th translate="DATE_TO">To</th>
                                                            <th translate="STATUS">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="p in vm.revieweds">
                                                            <td>{{p.submittedDate}}</td>
                                                            <td>{{p.startDate | date:'fullDate'}}</td>
                                                            <td>{{p.endDate}}</td>
                                                            <td><span ng-class="p.status == 'Approved' ? 'label label-success' : 'label label-danger'">{{p.status}}</span></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                    <!--endof Statistics tab-->
                                </div>
                            </div>
                        </nav>
                    </div>
                    </div>

                    <!-- Holds the page index -->
                    <div class="text-center" id="pageIndex">
                        <div class="row">
                            <span translate="PAGE">Page</span> {{vm.currentPage}}<span ng-if="vm.lastPage > 1"> <span translate="OF">of</span> {{vm.lastPage}}</span>
                        </div>
                        <div class="row">
                            <ul class="pagination block-center">
                                <li><a href="#" id="previousPageButton" ng-click="vm.getPreviousProfilePage()" ng-if="vm.lastPage > 1 && vm.currentPage > 1"><<</a></li>
                                <li ng-repeat="x in vm.paginationList"><a href="#" ng-click="vm.getPage(x)" ng-class="x == vm.currentPage ? 'page-active' : ''">{{x}}</a></li>
                                <li><a href="#" id="nextPageButton" ng-click="vm.getNextProfilePage()" ng-if="vm.lastPage > 1 && vm.currentPage != vm.lastPage">>></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                </div>
            </div>

        </div>
        <!--endof content-wrapper -->

        <!-- page specific script -->
        <script type="text/javascript">
            $(function() {
                $('#application_history_filter_date_from').datetimepicker({
                    format: 'DD/MM/YYYY',
                });

                $('#application_history_filter_date_to').datetimepicker({
                    format: 'DD/MM/YYYY'
                });

            });
        </script>
        <!-- end for page specific script -->
