<div ng-controller="GlobalController"> </div> <!-- Global controller -->

<style>
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

</style>

<!-- Main content -->
<div class="content-wrapper wrapper-height overtimeApplicationForm">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
            <h1>Employee Benefit Record</h1>
            <form id="employeeBenefitForm" method="post">
                <fieldset>
                    <legend>Record Form</legend>
                    <!--Employee benefit recipient name and date-->
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label class="control-label" for="employee-name">Employee Name: <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <md-autocomplete
                                md-no-cache=true
                                md-selected-item="vm.newdept.dhead"
                                md-search-text-change="vm.queryTags(vm.searchText)"
                                md-search-text="vm.searchText"
                                md-items="item in vm.queryTags(vm.searchText)"
                                md-item-text="item.name + ' (' + item.username + ')'"
                                md-min-length="3"
                                placeholder="Find employee"
                                id="employee-name">
                                <md-item-template>
                                    <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name + ' (' + item.username + ')'}}</span>
                                </md-item-template>
                                <md-not-found>
                                    No employee matching "{{vm.searchText}}" were found.
                                </md-not-found>
                            </md-autocomplete>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label class="control-label" for="benefit-date">Date: <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <div class="input-group">
                                <input class="form-control" id="benefit-date" type="text"/>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--endof employee-name and benefit-date-->

                    <!--Employee Benefit description-->
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <label class="control-label" for="description">Description: <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <textarea class="form-control" id="description" rows="5"></textarea>
                        </div>
                    </div>
                    <!--endof description-->

                    <!--Submit/Reset buttons-->
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button translate="SUBMIT" type="submit" class="btn btn-primary" ng-click="">Submit</button>
                            <button translate="RESET" type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
