<div ng-controller="GlobalController"> </div> <!-- Global controller -->

<style>
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Centering nav-tabs -- DO NOT DELETE */
.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}
/* Centering nav-tabs -- DO NOT DELETE! */
.nav-tabs {
    text-align:center;
}
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Admin Panel
		</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Layout</a></li>
            <li class="active">Collapsed Sidebar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

		<nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="active fake-hyperlink">
                        <!--Global Settings
                            Add additional tab for global settings
                        -->
                        <a data-toggle="tab" ng-click="vm.toggleView('1')">
                            <span class="glyphicon glyphicon-briefcase"></span> <span translate="GLOBAL_SETTINGS">Global Settings</span>
                        </a>
                    </li>
                    <!--Additional tabs can be added here-->
                </ul>

                <div class="tab-content">
                    <!--Global Settings tab-->
                    <div id="global-settings" ng-if="vm.viewInfo == 1">
                        <div class="container-fluid">
                            <form id="globalSettings" method="post">
                                <fieldset>
                                    <legend translate="LEAVE_SETTINGS" class="col-md-offset-3 col-md-6">Leave Settings</legend>
                                    <!--Global Annual Leave-->
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="GLOBAL_ANNUAL_LEAVE" for="GlobalAnnualLeave">Global Annual Leave <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                            <input type="text" class="form-control" id="GlobalAnnualLeave" />
                                        </div>
                                    </div>
                                </fieldset>


                                <!--Form submission / reset-->
                                <div class="row">
                                    <div class="form-group col-md-3  col-md-offset-3">
                                        <button translate="SUBMIT" type="submit" class="btn btn-primary btn-block">Submit</button>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <button translate="CLEAR" type="reset" class="btn btn-danger btn-block">Clear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--endof Global Settings tab-->
                </div>
            </div>
        </nav>


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Pop out content -->

<div class="modal fade" id="accNotify" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Account successfully created.</h4>
            </div>
            <div class="modal-body">
                <p id="modalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
    $('#accNotify').on('hidden.bs.modal', function() { //function called after modal pop out is closed
        $('#createAccForm').trigger('reset');
    })
</script>
<!-- END pop out content -->

