<footer class="main-footer">
   <div class="pull-right hidden-xs">
     <b>All rights reserved.</b>
   </div>
    <strong>Copyright &copy; </strong>
    System by <a href="http://www.skynatech.com/">S.K.Y.N.A Tech</a>.
    Template by <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.
 </footer>
