<header class="main-header">
    <!-- Logo -->
    <a href="../../index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini" style="padding-left: 5px;"><div style="width: 40px; height: 40px;'"><img src="images/huijin-logo.png" style="width: 100%; height:100%"/></div></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Huijin Xinda</b> Ltd.</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>


        <div class="btn-group nav navbar-nav pull-left dropdown" style="margin-top: 7.5px; margin-left: 15px;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="lang-sm lang-lbl-full" lang={{vm.language}}></span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-click="vm.toggleLanguage('en')"><span class="lang-sm lang-lbl-full" lang="en"></span></li>
                <li ng-click="vm.toggleLanguage('zh')"><span class="lang-sm lang-lbl-full" lang="zh"></span></li>
            </ul>
        </div>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
	      <!--<li class="navbar-collapse collapse">-->
               	<!--<div class="onoffswitch">-->
				    <!--<input type="checkbox" name="onoffswitch"-->
                           <!--class="onoffswitch-checkbox hidden"-->
                           <!--id="myonoffswitch" ng-model="vm.language" ng-checked="vm.langKey"-->
                           <!--ng-change="vm.toggleLanguage(vm.langKey)">-->
				    <!--<label class="onoffswitch-label" for="myonoffswitch">-->
				        <!--<span class="onoffswitch-inner"></span>-->
				        <!--<span class="onoffswitch-switch"></span>-->
				    <!--</label>-->
				<!--</div>-->
	      <!--</li>-->

          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="../../dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">{{vm.notification.unreadCount ? vm.notification.unreadCount : 0 }}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have {{vm.notification.unreadCount ? vm.notification.unreadCount : 0 }} notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#" ng-repeat = "list in vm.notification.unreadNotifications" ng-click = "vm.notificationTransition(list.link, list.notifyID)">
                      <i class="fa {{list.type}}" ></i> {{list.message}}
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#" ng-click="vm.activateRightNotificationBar()">View all</a></li>
            </ul>
          </li>
          <!-- END NOTIFICATION -->
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="../../plugins/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">Alexander Pierce</span>
            </a>
            <ul class="dropdown-menu" style="right: 0px;">
              <!-- User image -->
              <li class="user-header">
                <img src="../../plugins/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  Alexander Pierce - Web Developer
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>

	<!-- Custom scripts -->
    <link href="styles/togglebar.css" rel="stylesheet" type="text/css"/>
	<!-- End Custom scripts -->

<!-- right control side bar -->
  <div ng-include="'app/layout/rightControlBar.html'"></div>
