<div ng-controller="SidebarController as vm" ng-show="vm.isLoggedIn">
    <ht-sidebar when-done-animating="vm.sidebarReady()">
        <!-- Left side column. contains the sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel fake-hyperlink" ng-click="vm.viewProfile()">
                    <div class="pull-left image">
                        <img src={{vm.imageURL}} class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>{{vm.currentUser}}</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                <!-- <form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
		                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
		                </button>
		              </span>
                    </div>
                </form> -->
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">MAIN NAVIGATION</li>
                    <li class="treeview fake-hyperlink" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes" ng-if="!r.hideFromSidebar || r.noTab" ng-attr-id="{{vm.getTitle(r)}}">
                        <a ui-sref="{{r.name}}" ng-if="vm.getChildrenNavRoutes(r.title).length == 0 && !r.noTab"><i class={{r.settings.className}}></i> <span translate={{r.settings.name}}></span></a>
                        <a ng-if="vm.getChildrenNavRoutes(r.title).length > 0 && !r.noTab"><i class={{r.settings.className}}></i> <span translate={{r.settings.name}}></span></a>
                        <a ng-if="r.noTab" ng-click="vm.logout()"><i class={{r.settings.className}}></i> <span translate={{r.settings.name}}></span></a>

                        <ul class="treeview-menu" ng-if="vm.getChildrenNavRoutes(r.title).length > 0" ng-attr-id="{{vm.getTitle(r) + '-subtree'}}">
                            <li class="treeview" ng-class="vm.isCurrent(r2)" ng-repeat="r2 in vm.getChildrenNavRoutes(r.title)" ng-attr-id="{{vm.getTitle(r)}}">
                                <a ui-sref="{{r2.name}}"><i class={{r2.settings.className}}></i> <span translate={{r2.settings.name}}></span></a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
    </ht-sidebar>
</div>
