<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    <!--   <h1>
        Please sign in
        <small>Layout with collapsed sidebar on load</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Layout</a></li>
        <li class="active">Collapsed Sidebar</li>
      </ol>-->
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="container">

          <img src= "../images/HJXD_2.png" style="width:500px;height:470px" class="img-responsive center-block" />
          <div class="col-md-8 col-md-offset-2">
            <form class="form-horizontal">
                <fieldset class="form-group">
                  <label class="control-label col-sm-2" for="formGroupEmail">Email:</label>
                  <div class="col-sm-10">
                    <input type="email" ng-model="vm.user.email" class="form-control" id="email" placeholder="Enter email">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <label class="control-label col-sm-2" for="formGroupPassword">Password:</label>
                  <div class="col-sm-10">
                    <input type="password" ng-model="vm.user.password" class="form-control" id="pwd" placeholder="Enter password">
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label><input type="checkbox"> Remember me</label>
                    </div>
                  </div>
                </fieldset>
                <fieldset class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-click="vm.login(vm.user.email, vm.user.password)" target="_self">Submit</button>
                    <button type="reset" class="btn btn-danger" >Clear</button>
                  </div>
                </fieldset>
              </form>
          </div>
        </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
