<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        <span translate="SETTINGS">Settings</span>
      </h1>
        <ol class="breadcrumb">
            <li><a translate="HOME" href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a translate="LAYOUT" href="#">Layout</a></li>
            <li translate="COLLAPSED_SIDEBAR" class="active">Collapsed Sidebar</li>
        </ol>
    </section>

    <!-- Main content -->

    <section class="content">
        <div class="container">
            <form class="form-horizontal">
                <div class="form-group">
                    <label translate="OLD_PASSWORD" for="OldPassword" class="col-md-offset-2 col-md-2 control-label">Old Password</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="OldPassword" ng-model="vm.change.oldPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label translate="NEW_PASSWORD" for="NewPassword" class="col-md-offset-2 col-md-2 control-label">New Password</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="NewPassword" ng-model="vm.change.newPassword">
                    </div>
                </div>
                <div class="form-group">
                    <label translate="REENTER_NEW_PASSWORD" for="NewPasswordAgain" class="col-md-offset-2 col-md-2 control-label">Re-enter New Password</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control" id="NewPasswordAgain" ng-model="vm.newPasswordAgain">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-sm-8">
                        <button translate="CHANGE_PASSWORD" type="submit" class="btn btn-primary" ng-click="vm.changePassword(vm.change, vm.newPasswordAgain)">Change Password</button>
                        <button translate="CLEAR" type="reset" class="btn btn-danger">Clear</button>
                    </div>
                </div>

            </form>
        </div>
    </section>

    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
