<div ng-controller="GlobalController"> </div>
<!-- Global controller -->

<style>
    .container-fluid {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* Centering nav-tabs -- DO NOT DELETE */

    .nav-tabs>li {
        float: none;
        display: inline-block;
        *display: inline;
        /* ie7 fix */
        zoom: 1;
        /* hasLayout ie7 trigger */
    }
    /* Centering nav-tabs -- DO NOT DELETE! */

    .nav-tabs {
        text-align: center;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper scroller-overflow-div">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1 translate="ADMIN_PANEL">
        Admin Panel
		</h1>
        <ol class="breadcrumb">
            <li><a translate="HOME" href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a translate="LAYOUT" href="#">Layout</a></li>
            <li translate="COLLAPSED_SIDEBAR" class="active">Collapsed Sidebar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="fake-hyperlink" ng-class="vm.viewInfo == 1 ? 'my-active' : ''">
                        <!--Create New User
							Add a tab for creating new user
                        -->
                        <a data-toggle="tab" class=" fade in active" ng-click="vm.toggleView(1)">
                            <span class="glyphicon glyphicon-user"></span> <span translate="CREATE_NEW_USER">Create New User</span>
                        </a>
                    </li>

                    <li class="fake-hyperlink" ng-class="vm.viewInfo == 2 ? 'my-active' : ''">
                        <!--Create New Office/Department
                            Add additional tab for creating new office/department
                        -->
                        <a data-toggle="tab" class=" fade in active" ng-click="vm.toggleView(2)">
                            <span class="fa fa-users"></span> <span translate="USER_MANAGEMENT">User Management</span>
                        </a>
                    </li>

                    <!--Additional tabs can be added here-->
                </ul>

                <div class="tab-content">
                    <!--Create new user tab-->
                    <div id="create-user" ng-if="vm.viewInfo == 1">
                        <div class="container-fluid">
                            <form id="createAccForm">
                                <fieldset>
                                    <legend translate="PERSONAL_INFORMATION" class="col-md-offset-3 col-md-6">Personal Information</legend>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="NAME" for="Name">Name</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="Name" ng-model="vm.profile.name" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="EMAIL" for="Email">Email</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="email" class="form-control" id="Email" ng-model="vm.profile.email" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="VERIFY_EMAIL" for="VerifyEmail">Verify Email</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="email" class="form-control" id="VerifyEmail" ng-model="vm.verifyEmail" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4  col-md-offset-3">
                                            <label translate="BIRTH_DATE" for="BirthDate">Birth Date</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="BirthDate" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label translate="GENDER" for="Gender">Gender</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <select class="form-control" id="Gender" ng-model="vm.profile.gender">
                            										<option translate="MALE" value="Male">Male</option>
                            										<option translate="FEMALE" value="Female">Female</option>
									                          </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="MOBILE_NUM" for="PhoneNum">Mobile Phone No.</label>
                                            <input type="text" class="form-control" id="PhoneNum" ng-model="vm.profile.phoneNum" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3  col-md-offset-3">
                                            <label translate="MARITAL_STATUS" for="Marital">Marital Status</label>
                                            <select class="form-control" id="Marital" ng-model="vm.profile.maritalStatus">
                          											<option translate="SINGLE" value="Single">Single</option>
                          											<option translate="MARRIED" value="Married">Married</option>
                          											<option translate="DIVORCED" value="Divorced">Divorced</option>
                          											<option translate="WIDOWED" value="Widowed">Widowed</option>
										                        </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label translate="PREFERRED_LANGUAGE" for="Language">Preferred Language</label>
                                            <select class="form-control" id="Language" ng-model="vm.profile.language">
                            										<option translate="CHINESE" value="Chinese">Chinese</option>
                            										<option translate="ENGLISH" value="English">English</option>
								                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="EDUCATION" for="University">Education</label>
                                            <input type="text" class="form-control" id="University" placeholder="University graduated from.." ng-model="vm.profile.uniGraduatedFrom" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="DEGREE" for="Degree">Degree</label>
                                            <input type="text" class="form-control" id="Degree" ng-model="vm.profile.degree" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="PROFILE_IMAGE" for="Image">Profile Image</label>
                                            <input type="file" class="form-control" id="Image" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend translate="CURRENT_HOUSE_ADDRESS" class="col-md-offset-3 col-md-6">Current House address</legend>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="STREET_ADDRESS" for="Address">Street Address</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="Address" ng-model="vm.address.streetAddress" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4  col-md-offset-3">
                                            <label translate="CITY" for="City">City</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="City" ng-model="vm.address.city" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label translate="POSTCODE" for="Postcode">Postcode</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="Postcode" ng-model="vm.address.postcode" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="COUNTRY" for="Country">Country</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <select class="form-control" id="Country" ng-model="vm.address.country">
                                                <option value={{c}} title={{c}} ng-repeat="c in vm.countries">{{c}}</option>
										                        </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend translate="DOMICILE_ADDRESS" class="col-md-offset-3 col-md-6">Domicile address</legend>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="STREET_ADDRESS" for="domicileAddress">Street Address</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="domicileAddress" ng-model="vm.domicile.streetAddress" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-4  col-md-offset-3">
                                            <label translate="CITY" for="domicileCity">City</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="domicileCity" ng-model="vm.domicile.city" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label translate="POSTCODE" for="DomicilePostcode">Postcode</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="DomicilePostcode" ng-model="vm.domicile.postcode" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6  col-md-offset-3">
                                            <label translate="COUNTRY" for="DomicileCountry">Country</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <select class="form-control" id="DomicileCountry" ng-model="vm.domicile.country">
                                            <option value={{c}} title={{c}} ng-repeat="c in vm.countries">{{c}}</option>
										  </select>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend translate="PAYROLL_DETAILS" class="col-md-offset-3 col-md-6">Payroll details</legend>
                                    <div class="row">
                                        <div class="form-group col-md-3  col-md-offset-3">
                                            <label translate="BANK_NAME" for="bankName">Bank name</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="bankName" ng-model="vm.payroll.bankName" />
                                        </div>
                                        <div class="form-group col-md-3 ">
                                            <label translate="ACCOUNT_HOLDER_NAME" for="holderName">Account holder name</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="holderName" ng-model="vm.payroll.holderName" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-3  col-md-offset-3">
                                            <label translate="ACCOUNT_NUM" for="accountNum">Account number</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="accountNum" ng-model="vm.payroll.accountNum" />
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label translate="BRANCH_NAME" for="branchName">Branch name</label><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red; margin-left:5px"></span>
                                            <input type="text" class="form-control" id="branchName" ng-model="vm.payroll.branchName" />
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <legend translate="FOR_OFFICE_USE" class="col-md-offset-3 col-md-6">For office use</legend>
                                    <div class="row">
                                        <div class="form-group col-md-3  col-md-offset-3">
                                            <label translate="POSITION" for="Position">Position</label>
                                            <select class="form-control" id="Position" ng-model="vm.profile.position">
                          										  <option translate="MANAGER" value="Manager">Manager</option>
                          										  <option translate="SUPERVISOR" value="Supervisor">Supervisor</option>
                          										  <option translate="NORMAL_STAFF" value="Normal staff">Normal Staff</option>
									                          </select>
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label translate="STAFF_TYPE" for="Type">Staff Type</label>
                                            <select class="form-control" id="Type" ng-model="vm.profile.staffType">
                          										  <option translate="PART_TIME" value="Part time">Part Time</option>
                          										  <option translate="FULL_TIME" value="Full time">Full Time</option>
									                          </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-2  col-md-offset-3">
                                            <label translate="OFFICE_LOCATION" for="OfficeLocation">Office Location</label>
                                            <select class="form-control" id="OfficeLocation" ng-model="vm.office_id" ng-change="vm.updateDepartmentSource(vm.office_id)">
                                            <option ng-repeat="office in vm.offices" value="{{office.id}}">{{office.name}}</option>
                                        </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label translate="DEPARTMENT" for="Department">Department</label>
                                            <select class="form-control" id="Department" ng-model="vm.department_id" ng-disabled="!vm.office_id">
										                            <option ng-repeat="department in vm.availableDepts" value="{{department.id}}">{{department.dname}}</option>
									                          </select>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label translate="START_WORKING_ON" for="StartDate">Start Working On</label>
                                            <input type="text" class="form-control" id="StartDate" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-offset-3 col-md-2">
                                            <label translate="CARD_ID" for="PhoneExt">Card ID</label>
                                            <input type="text" class="form-control" id="CardID" ng-model="vm.profile.cardID" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label translate="OFFICE_EXTENSION_NUM" for="PhoneExt">Office Ext.</label>
                                            <input type="text" class="form-control" id="PhoneExt" ng-model="vm.profile.phoneExtension" />
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label translate="ANNUAL_LEAVE" for="annualLeave">Annual leave</label>
                                            <input type="number" class="form-control" id="annualLeave" placeholder="days" ng-model="vm.profile.annualLeave" />
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <div class="form-group col-md-3  col-md-offset-3">
                                        <button type="submit" translate="SUBMIT" class="btn btn-primary btn-block" ng-click="vm.createProfile(vm.profile, vm.address, vm.domicile, vm.department_id, vm.office_id, vm.payroll, vm.verifyEmail)">Submit</button>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <button type="reset" translate="CLEAR" class="btn btn-danger btn-block">Clear</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--endof Create New User tab-->

                    <!--Create New Office/Department tab-->
                    <div id="create-office-department" ng-if="vm.viewInfo == 2">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="form-group col-md-10  col-md-offset-1">
                                    <table class="table table-condensed table-striped">
                                        <thead>
                                            <tr>
                                                <th translate="NAME">Name</th>
                                                <th translate="EMAIL">Email</th>
                                                <th translate="POSITION">Position</th>
                                                <th translate="DEPARTMENT">Department</th>
                                                <th translate="DEPARTMENT">Department</th>
                                                <th translate="ACTIONS">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="p in vm.users" ng-click="vm.showModal(p)" class="fake-hyperlink row-list">
                                                <td>{{p.name}}</td>
                                                <td>{{p.email}}</td>
                                                <td>{{p.position}}</td>
                                                <td>{{p.department.dname}}</td>
                                                <td>{{p.department.office.name}}</td>
                                                <td>
                                                    <button type="button" class="btn btn-primary">Edit</button>
                                                    <button type="button" class="btn btn-danger" ng-click="vm.deleteNews(vm.modalNews)">Delete</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Holds the page index -->
        <div class="text-center" id="pageIndex">
            <div class="row">
                <span translate="PAGE">Page</span> {{vm.currentPage}}<span ng-if="vm.lastPage > 1"> <span translate="OF">of</span> {{vm.lastPage}}</span>
            </div>
            <div class="row">
                <ul class="pagination block-center">
                    <li><a href="#" id="previousPageButton" ng-click="vm.getPreviousProfilePageByQuery()" ng-if="vm.lastPage > 1 && vm.currentPage > 1"><<</a></li>
                    <li><a href="#" ng-repeat="x in vm.paginationList" ng-click="vm.getPageByQuery(x) ">{{x}}</a></li>
                    <li><a href="#" id="nextPageButton" ng-click="vm.getNextProfilePageByQuery()" ng-if="vm.lastPage > 1 && vm.currentPage != vm.lastPage">>></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Pop out content -->

<div class="modal fade" id="accNotify" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 translate="ACCOUNT_SUCCESSFULLY_CREATED" class="modal-title">Account successfully created.</h4>
            </div>
            <div class="modal-body">
                <p id="modalText"></p>
            </div>
            <div class="modal-footer">
                <button translate="CLOSE" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
    $('#accNotify').on('hidden.bs.modal', function() { //function called after modal pop out is closed
        $('#createAccForm').trigger('reset');
    })
</script>
<!-- END pop out content -->
