<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
  </section>

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Recent News</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body dashboard-box">
                            <ul class="products-list product-list-in-box">
                                <li class="item" ng-repeat="news in vm.articles">
                                    <div class="product-img">
                                        <img src="http://placehold.it/50x50" alt={{news.title}}>
                                    </div>
                                    <div class="product-info">
                                        <a href="javascript:void(0)" class="product-title">{{news.title}}
                                            <span class="label label-info pull-right">{{news.author}}</span>
                                        </a>
                                        <span class="product-description" ng-bind-html="news.content | summary:300"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <a href="javascript:void(0)" class="uppercase" ng-click="vm.loadMore()" ng-if="vm.hasMore">Load more</a>
                            <span ng-if="!vm.hasMore">No more news available</span>
                        </div>
                        <!-- /.box-footer -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Leave Usage</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body dashboard-box">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="chart-responsive">
                                        <canvas id="pieChart" height="160" width="170" style="width: 170px; height: 160px;"></canvas>
                                    </div>
                                    <!-- ./chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <ul class="chart-legend clearfix">
                                        <li><i class="fa fa-circle-o text-red"></i> Sick Leave</li>
                                        <li><i class="fa fa-circle-o text-green"></i> Marriage Leave</li>
                                        <li><i class="fa fa-circle-o text-yellow"></i> Annual Leave</li>
                                        <li><i class="fa fa-circle-o text-aqua"></i> Maternity Leave</li>
                                        <li><i class="fa fa-circle-o text-fuchsia"></i> Parental Leave</li>
                                        <li><i class="fa fa-circle-o text-light-blue"></i> Bereavement Leave</li>
                                        <li><i class="fa fa-circle-o text-gray"></i> Personal Leave</li>
                                    </ul>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer text-center">
                            <a href="javascript:void(0)" class="uppercase">View your statistics</a>
                        </div>
                        <!-- /.footer -->
                    </div>
                </div>
            </div>

            <div class="box box-primary">
                <img src="../../images/Dashboard_News.png" style="width:500px;height:470px" class="img-responsive center-block" />
            </div>
        </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
