<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Calendar
      </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Layout</a></li>
            <li class="active">Collapsed Sidebar</li>
        </ol>
    </section>

    <!-- Main content -->

    <!-- *****Calendar***** -->
    <!-- <section class="content">
        <div class="container">
            <div id="calendar"></div>
        </div>
    </section> -->


    <!-- *****To-do list***** -->
    <section class="content">
        <div class="container">

          <div style="font-size:20px">
              <input type="text" class="rounded-textfield col-md-2 col-md-offset-9" placeholder="Enter item here.."/> <div class="text-right"><button type="button" class="add-item btn btn-link btn-sm"></button></div>

              <table class="table table-striped table-hover todo-table" >
                  <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th></th>
                  </tr>
                  <tr>
                      <td><input type="checkbox"/></td>
                      <td>Write up a proposal</td>
                      <td class="action-button"><button type="button" class="add-item btn btn-link btn-sm"></button> <button type="button" class="delete-item btn btn-link btn-sm"></button></td>
                  </tr>
                  <tr>
                      <td><input type="checkbox"/></td>
                      <td>Send John Email</td>
                      <td class="action-button"><button type="button" class="add-item btn btn-link btn-sm"></button> <button type="button" class="delete-item btn btn-link btn-sm"></button></td>
                  </tr>
                  <tr>
                      <td><input type="checkbox"/></td>
                      <td>Send leave application</td>
                      <td class="action-button"><button type="button" class="add-item btn btn-link btn-sm"></button> <button type="button" class="delete-item btn btn-link btn-sm"></button></td>
                  </tr>
              </table>

            <button type="button" class="btn btn-link col-md-offset-5">10 Completed To-Dos</button>
          </div>

        </div>
    </section>


    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Documentation for FullCalendar: https://fullcalendar.io/docs/ -->
<link rel="stylesheet" href="../../styles/fullcalendar.css" />
<script src="../../js/moment.min.js"></script>
<script src="../../js/fullcalendar.js"></script>

<script>
    $(document).ready(function() {

    // page is now ready, initialize the calendar...

        $('#calendar').fullCalendar({
            // put your options and callbacks here
        })

    });
</script>
