<!-- Modal -->
<div class="modal" id="contractModal" tabindex="-1" role="dialog" aria-labelledby="contractModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-corners">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="profileModalLabel">{{vm.modalContract.name}}</h4>
            </div>
            <div class="modal-body">
                <form id="contractUploadForm">
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-md-10  col-md-offset-1">
                                <label translate="CONTRACT" for="Image">Contract</label>
                                <input type="file" class="form-control" id="Contract" value={{vm.contractURL}}/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary pull-left" ng-click="vm.uploadContract()"><i class="fa fa-upload"></i> Upload</button>
                <a href={{vm.contractURL}} target="_blank"><button class="btn btn-primary" ng-if="vm.profile.contractURL"><i class="fa fa-eye"></i> View</button></a>
            </div>
        </div>
    </div>
</div>
