<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<style>
    #Address, #MaritalStatus, #Domicile, #PhoneNumber, #MobileNumber, #EmergencyContact, #EmailAddress {
        border: 0;
    }
    .section-subtitle {
        text-transform: uppercase;
    }

    .container-fluid {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* Centering nav-tabs -- DO NOT DELETE */
    .nav-tabs > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
        zoom:1; /* hasLayout ie7 trigger */
    }
    /* Centering nav-tabs -- DO NOT DELETE! */
    .nav-tabs {
        text-align:center;
    }

    /* Bottom padding for each fieldset field */
    .bottomPad {
        padding-bottom: 50px;
    }
</style>
<script>


function functionEdit(textfield, icon)
{
    if (document.getElementById(textfield).readOnly==false)
    {
        document.getElementById(icon).src="images/Icons/button_edit.png";
        document.getElementById(textfield).readOnly = true;
        document.getElementById(textfield).style.border="0px";
        document.getElementById(textfield).alt = "Edit";
    }
    else if (document.getElementById(textfield).readOnly==true)
    {
        document.getElementById(icon).src="images/Icons/button_confirm.png";
        document.getElementById(textfield).readOnly = false;
        document.getElementById(textfield).style.border="1px solid gray";
        document.getElementById(textfield).alt = "Confirm";
    }
}
function functionEditMaritalStatus()
{
    if (document.getElementById("editMaritalStatus").disabled==true)
    {
        document.getElementById("MaritalStatus").src="images/Icons/button_confirm.png";
        document.getElementById("editMaritalStatus").disabled=false;
        document.getElementById("MaritalStatus").alt="Confirm";
    }
    else if(document.getElementById("editMaritalStatus").disabled==false)
    {
        document.getElementById("MaritalStatus").src="images/Icons/button_edit.png";
        document.getElementById("editMaritalStatus").disabled=true;
        document.getElementById("MaritalStatus").alt="Edit";
    }
}
</script>

<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper scroller-overflow-div">
    <!-- Content Header (Page header) -->
    <section class="content-header">
       <div class="container-fluid">
          <div class="row">
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: right;">
                <!--<div class="col-xs-9 col-xs-offset-3 col-md-2 col-md-offset-4">-->
                    <img src={{vm.imageURL}} class="img-circle img-fluid" width="150" height="150" alt="Profile Picture">
                <!--</div>-->
             </div>
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align: left;">
                <!--<div class="col-xs-12 col-xs-offset-3 col-md-6 col-md-offset-0">-->
                    <h2><span>{{vm.profile.name}}</span></h2>
                    <h5><span>{{vm.profile.position}}</span></h5>
             </div>
          </div>
       </div>
    </section>

    <!-- Main content -->
    <section class="content">
    	<nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="active fake-hyperlink">
                        <!--Employee profile information
                        -->
                        <a data-toggle="tab" ng-click="vm.toggleView(1)">
                        <span class="glyphicon glyphicon-user"></span> <span translate="PROFILE_INFO">Profile Information</span>
                        </a></li>
                    <li class="fake-hyperlink">

                        <!--Employee statistics
                            Add additional tab called Statistics
                        -->
                        <a data-toggle="tab" ng-click="vm.toggleView(2)">
                        <span class="glyphicon glyphicon-th"></span> <span translate="STATISTICS">Statistics</span>
                        </a></li>

                        <!--Additional tabs can be added here-->
                    <!--<li class="fake-hyperlink">-->

                        <!--&lt;!&ndash;Employee statistics-->
                            <!--Add additional tab called Statistics-->
                        <!--&ndash;&gt;-->
                        <!--<a data-toggle="tab" ng-click="vm.toggleView(3)">-->
                            <!--<span class="fa fa-area-chart"></span> <span translate="REPORT">Report</span>-->
                        <!--</a></li>-->
                </ul>
                <div class="tab-content">
                    <!--Employee Profile Information tab-->
                    <div id="profile-information" ng-show="vm.viewInfo == 1">
                        <!--Employee Company Details
                            Includes Employee ID, Department, Office Location, Hire Date
                            Employee Contact Details
                            Includes Phone Number, Mobile Number, Emergency Contact Number, Email Address
                        -->

                        <div class="container-fluid" >
                            <fieldset class="bottomPad">
                                <legend class="text-center"><span translate="EMPLOYEE_DETAILS">Employee Details</span></legend>
                                    <div class="row">
                                      <div class="form-group col-md-3  col-md-offset-3">
                                        <label for="employeeID"><span translate="EMPLOYEE_ID">Employee ID</span>:</label>
                                        <input type="text" readonly="readonly" value="{{vm.profile.staffNum ? vm.profile.staffNum : 'Unknown'}}" class="form-control" id="employeeID"/>
                                      </div>
                                      <div class="form-group col-md-3">
                                        <label for="department"><span translate="DEPARTMENT">Department</span>:</label>
                                        <input type="text" readonly="readonly" value="{{vm.profile.department ? vm.profile.department.dname : 'Unknown'}}" class="form-control" id="department"/>
                                      </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-3  col-md-offset-3">
                                          <label for="officeLocation"><span translate="OFFICE_LOCATION">Office Location</span>:</label>
                                          <input type="text" readonly="readonly" value="{{vm.profile.office ? vm.profile.office.address : 'Unknown'}}" class="form-control" id="officeLocation"/>
                                        </div>
                                        <div class="form-group col-md-3">
                                          <label for="hiringDate"><span translate="HIRING_DATE">Hiring Date</span>:</label>
                                          <input type="text" readonly="readonly" value="{{vm.profile.startWorkDate ? vm.profile.startWorkDate : 'Unknown' | dateInMillis | date:'dd MMMM yyyy'}}" class="form-control" id="hiringDate"/>
                                        </div>
                                    </div>
                            </fieldset>

                            <!--Personal Details-->
                            <fieldset class="bottomPad">
                                <legend class="text-center"><span translate="PERSONAL_DETAILS">Personal Details</span></legend>

                                <div class="row">
                                    <div class="form-group col-md-3  col-md-offset-3">
                                        <label for="dob"><span translate="DATE_OF_BIRTH">Date of Birth</span>:</label>
                                        <input type="text" readonly="readonly" value="{{vm.profile.dob  ? vm.profile.dob : 'Unknown' | dateInMillis | date:'dd MMMM yyyy'}}" class="form-control" id="dob"/>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label for="gender"><span translate="EMPLOYEE_GENDER">Gender</span>:</label>
                                        <input type="text" readonly="readonly" value="{{vm.profile.gender ? vm.profile.gender : 'Unknown'}}" class="form-control" id="gender"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="editMaritalStatus"><span translate="EMPLOYEE_MARITAL_STATUS">Marital Status</span>:<img src="images/Icons/button_edit.png" id="MaritalStatus" alt="Edit" onclick="functionEditMaritalStatus()"/></label>
                                        <select id="editMaritalStatus" class="form-control" disabled ng-model="vm.profile.maritalStatus">
                                            <option translate="SINGLE" value="single">Single</option>
                                            <option translate="MARRIED" value="married">Married</option>
                                        </select>
                  									</div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-md-3  col-md-offset-3">
                                        <label for="graduateFrom"><span translate="GRADUATED_FROM">Graduated From</span>:</label>
                                        <input type="text" readonly="readonly" value="{{vm.profile.uniGraduatedFrom ? vm.profile.uniGraduatedFrom : 'Unknown'}}" class="form-control" id="graduateFrom"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="degree"><span translate="DEGREE">Degree</span>:</label>
                                        <input type="text" readonly="readonly" value="to-be-included" class="form-control" id="degree"/>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label for="contract"><span translate="CONTRACT">Contract</span>:</label>
                                        <button class="btn btn-primary" ng-click="vm.popupContract(vm.profile)"><i class="fa fa-upload"></i> Upload</button>
                                        <div ng-include="'app/profile/popup.html'"></div>
                                    </div>
                                </div>
                            </fieldset>

                            <!--Contact Information-->
                            <fieldset class="bottomPad">
                                <legend class="text-center"><span translate="CONTACT_INFO">Contact Information</span></legend>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="form-group col-md-3  col-md-offset-3">
                                            <label for="PhoneNumber"><span translate="PHONE_NUM">Phone Number</span>:<img src="images/Icons/button_edit.png" id="editPhoneNumber" alt="Edit" onclick="functionEdit('PhoneNumber', 'editPhoneNumber')"/></label>
                                            <input type="text" readonly="readonly" ng-model="vm.profile.phoneNum" class="form-control" id="PhoneNumber" ng-blur="vm.updateProfile(vm.profile)"/>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="MobileNumber"><span><span translate="EMPLOYEE_MOBILE_NUMBER">Mobile Number</span>:<img src="images/Icons/button_edit.png" id="editMobilePhone" alt="Edit" onclick="functionEdit('MobileNumber', 'editMobilePhone')"/></span></label>
                                            <input type="text" readonly="readonly" ng-model="vm.profile.phoneNum" class="form-control" id="MobileNumber" ng-blur="vm.updateProfile(vm.profile)"/>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-3 col-md-offset-3 ">
                                            <label for="EmergencyContact"><span translate="EMERGENCY_CONTACT">Emergency Contact</span>:<img src="images/Icons/button_edit.png" id="editEmergencyContact" alt="Edit" onclick="functionEdit('EmergencyContact', 'editEmergencyContact')"/></label>
                                            <input type="text" readonly="readonly" ng-model="vm.profile.phoneNum" class="form-control" id="EmergencyContact" ng-blur="vm.updateProfile(vm.profile)"/>
                                        </div>

                                        <div class="form-group col-md-3">
                                            <label for="EmailAddress"><span translate="EMAIL_ADDRESS">Email Address:</span>:<img src="images/Icons/button_edit.png" id="editEmailAddress" alt="Edit" onclick="functionEdit('EmailAddress', 'editEmailAddress')"/></label>
                                            <input type="text" readonly="readonly" ng-model="vm.profile.email" class="form-control" id="EmailAddress" ng-blur="vm.updateProfile(vm.profile)"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <!--Current Address-->
                            <fieldset class="bottomPad">
                                <legend class="text-center"><span translate="CURRENT_ADDRESS">Current Address</span></legend>

                                    <div class="row">
                                      <div class="form-group col-md-6 col-md-offset-3">
                                          <label for="streetAddress"><span translate="STREET_ADDRESS">Street Address</span>:<img src="images/Icons/button_edit.png" id="editStreetAddress" alt="Edit" onclick="functionEdit('streetAddress', 'editStreetAddress')"/></label>
                                          <input type="text" readonly="readonly" ng-model="vm.profile.address.address" class="form-control" id="streetAddress" ng-blur="vm.updateProfile(vm.profile)"/>
                                      </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-2 col-md-offset-3">
                                            <label for="City"><span translate="CITY">City</span>:<img src="images/Icons/button_edit.png" id="editCity" alt="Edit" onclick="functionEdit('City', 'editCity')"/></label>
                                            <input type="text" readonly="readonly" ng-model="vm.profile.address.city" class="form-control" id="City" ng-blur="vm.updateProfile(vm.profile)"/>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Postcode"><span translate="POSTCODE">Postcode</span>:<img src="images/Icons/button_edit.png" id="editPostcode" alt="Edit" onclick="functionEdit('Postcode', 'editPostcode')"/></label>
                                            <input type="text" readonly="readonly" ng-model="vm.profile.address.postcode" class="form-control" id="Postcode" ng-blur="vm.updateProfile(vm.profile)"/>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="Country"><span translate="COUNTRY">Country</span>:<img src="images/Icons/button_edit.png" id="editCountry" alt="Edit" onclick="functionEdit('Country', 'editCountry')"/></label>
                                            <select ng-blur="vm.updateProfile(vm.profile)" class="form-control" id="Country" ng-model="vm.profile.address.country" disabled="disabled">
                                                <option value={{c}} title={{c}} ng-repeat="c in vm.countries">{{c}}</option>
										                        </select>
                                            <!-- <input type="text" readonly="readonly" ng-model="vm.profile.address.country" class="form-control" id="Country" ng-blur="vm.updateProfile('Country')"/> -->
                                        </div>
                                  </div>

                            </fieldset>

                            <!--Domicile Address-->
                            <fieldset class="bottomPad">
                                <legend class="text-center"><span translate="DOMICILE_ADDRESS">Domicile Address</span></legend>
                                    <div class="row">
                                      <div class="form-group col-md-6 col-md-offset-3">
                                          <label for="domicileStreetAddress"><span translate="STREET_ADDRESS">Street Address</span>:<img src="images/Icons/button_edit.png" id="editDomicileStreetAddress" alt="Edit" onclick="functionEdit('domicileStreetAddress', 'editDomicileStreetAddress')"/></label>
                                          <input type="text" readonly="readonly" ng-model="vm.profile.domicile.address" class="form-control" id="domicileStreetAddress" ng-blur="vm.updateProfile(vm.profile)"/>
                                      </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-2 col-md-offset-3">
                                            <label for="domicileCity"><span translate="CITY">City</span>:<img src="images/Icons/button_edit.png" id="editDomicileCity" alt="Edit" onclick="functionEdit('domicileCity', 'editDomicileCity')"/></label>
                                            <input type="text" readonly="readonly" ng-model="vm.profile.domicile.city" class="form-control" id="domicileCity" ng-blur="vm.updateProfile(vm.profile)"/>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="domicilePostcode"><span translate="POSTCODE">Postcode</span>:<img src="images/Icons/button_edit.png" id="editDomicilePostcode" alt="Edit" onclick="functionEdit('domicilePostcode', 'editDomicilePostcode')"/></label>
                                            <input type="text" readonly="readonly" ng-model="vm.profile.domicile.postcode" class="form-control" id="domicilePostcode" ng-blur="vm.updateProfile(vm.profile)"/>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="domicleCountry"><span translate="COUNTRY">Country</span>:<img src="images/Icons/button_edit.png" id="editDomicleCountry" alt="Edit" onclick="functionEdit('Country', 'editCountry')"/></label>
                                            <select ng-blur="vm.updateProfile(vm.profile)" class="form-control" id="domicleCountry" ng-model="vm.profile.domicile.country" disabled="disabled">
                                                <option value={{c}} title={{c}} ng-repeat="c in vm.countries">{{c}}</option>
										                        </select>
                                            <!-- <input type="text" readonly="readonly" ng-model="vm.profile.domicile.country" class="form-control" id="domicleCountry" ng-blur="vm.updateProfile('Country')"/> -->
                                        </div>

                                    </div>
                            </fieldset>
                        </div>
                    </div>


                    <!--endof Profile tab-->


                    <div id="profile-statistics" ng-show="vm.viewInfo == 2">
                        <div class="container-fluid">
                            <!-- <fieldset class="bottomPad">
                                <legend class="text-center"><span translate="ABSENCE" class="section-subtitle text-center">Absence</span></legend>
                                    <div class="col-xs-8 col-md-7 text-right">
                                        <h5><span><span translate="SICK_LEAVE_DAYS">Sick leave day(s)</span>:</span></h5>
                                    </div>
                                    <div class="col-xs-4 col-md-5 text-left">
                                        <h5><span>5</span></h5>
                                    </div>

                                    <div class="col-xs-8 col-md-7 text-right">
                                        <h5><span><span translate="MARRIAGE_LEAVE_DAYS">Marriage leave day(s)</span>:</span></h5>
                                    </div>
                                    <div class="col-xs-4 col-md-5 text-left">
                                        <h5><span>0</span></h5>
                                    </div>

                                    <div class="col-xs-8 col-md-7 text-right">
                                        <h5><span><span translate="MATERNITY_LEAVE_DAYS">Maternity leave day(s)</span>:</span></h5>
                                    </div>
                                    <div class="col-xs-4 col-md-5 text-left">
                                        <h5><span>0</span></h5>
                                    </div>

                                    <div class="col-xs-8 col-md-7 text-right">
                                        <h5><span><span translate="PARENTAL_LEAVE_HOURS">Parental leave hour(s)</span>:</span></h5>
                                    </div>
                                    <div class="col-xs-4 col-md-5 text-left">
                                        <h5><span>0</span></h5>
                                    </div>

                                    <div class="col-xs-8 col-md-7 text-right">
                                        <h5><span><span translate="BEREAVEMENT_LEAVE_DAYS">Bereavement leave day(s)</span>:</span></h5>
                                    </div>
                                    <div class="col-xs-4 col-md-5 text-left">
                                        <h5><span>0</span></h5>
                                    </div>

                                    <div class="col-xs-8 col-md-7 text-right">
                                        <h5><span><span translate="ANNUAL_LEAVE_DAYS">Annual leave day(s)</span>:</span></h5>
                                    </div>
                                    <div class="col-xs-4 col-md-5 text-left">
                                        <h5><span>0</span></h5>
                                    </div>

                                    <div class="col-xs-8 col-md-7 text-right">
                                        <h5><span><span translate="PERSONAL_LEAVE_DAYS">Personal leave day(s)</span>:</span></h5>
                                    </div>
                                    <div class="col-xs-4 col-md-5 text-left">
                                        <h5><span>2</span></h5>
                                    </div>
                            </fieldset> -->

                            <fieldset>
                                <legend class="text-center"><span>Work Hours</span></legend>
                                <div class="chart-responsive col-md-8 col-md-offset-2" >
                                    <canvas id="workHourChart" style="height: 280px; width: 1073px;" height="360" width="2146"></canvas>
                                </div>
                                <!-- <legend class="text-center"><span translate="PERFORMANCE_REPORT">Performance Report</span></legend>

                                <div class="col-xs-8 col-md-7 text-right">
                                    <h5><span><span translate="CONTRACTS_SIGNED">Contract(s) signed</span>:</span></h5>
                                </div>
                                <div class="col-xs-4 col-md-5 text-left">
                                    <h5><span>16</span></h5>
                                </div>

                                <div class="col-xs-8 col-md-7 text-right">
                                    <h5><span><span translate="CLIENTS_SERVED">Client(s) served</span>:</span></h5>
                                </div>
                                <div class="col-xs-4 col-md-5 text-left">
                                    <h5><span>8</span></h5>
                                </div>

                                <div class="col-xs-8 col-md-7 text-right">
                                    <h5><span><span translate="BILLABLE_HOURS">Billable hour(s)</span>:</span></h5>
                                </div>
                                <div class="col-xs-4 col-md-5 text-left">
                                    <h5><span>160</span></h5>
                                </div>

                                <div class="col-xs-8 col-md-7 text-right">
                                    <h5><span><span translate="OVERTIME_APPLIED">Overtime applied</span>:</span></h5>
                                </div>
                                <div class="col-xs-4 col-md-5 text-left">
                                    <h5><span>2</span></h5>
                                </div>

                                <div class="col-xs-8 col-md-7 text-right">
                                    <h5><span><span translate="OVERTIME_HOURS">Overtime hour(s)</span>:</span></h5>
                                </div>
                                <div class="col-xs-4 col-md-5 text-left">
                                    <h5><span>5</span></h5>
                                </div> -->
                            </fieldset>

                            <fieldset>
                                <legend class="text-center"><span translate="CONTRACTS_SIGNED">Contract(s) signed</span></legend>
                                <div class="chart-responsive col-md-8 col-md-offset-2" >
                                    <canvas id="contractChart" style="height: 280px; width: 1073px;" height="360" width="2146"></canvas>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <!--endof Statistics tab-->

                    <!--<div id="profile-resources" ng-show="vm.viewInfo == 3">-->
                        <!--<div class="container-fluid">-->
                            <!--<div class="row">-->
                                <!--<div class="col-sm-6">-->
                                    <!--<div class="box box-primary">-->
                                        <!--<div class="box-header with-border">-->
                                            <!--<h3 class="box-title">Ready</h3>-->
                                            <!--<span class="label label-primary pull-right"><i class="fa fa-html5"></i></span>-->
                                        <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                                        <!--<div class="box-body">-->
                                            <!--<p>Compiled and ready to use in production. Download this version if you don't want to customize AdminLTE's LESS files.</p>-->
                                            <!--<a href="http://almsaeedstudio.com/download/AdminLTE-dist" class="btn btn-primary"><i class="fa fa-download"></i> Download</a>-->
                                        <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                                    <!--</div>&lt;!&ndash; /.box &ndash;&gt;-->
                                <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
                                <!--<div class="col-sm-6">-->
                                    <!--<div class="box box-danger">-->
                                        <!--<div class="box-header with-border">-->
                                            <!--<h3 class="box-title">Source Code</h3>-->
                                            <!--<span class="label label-danger pull-right"><i class="fa fa-database"></i></span>-->
                                        <!--</div>&lt;!&ndash; /.box-header &ndash;&gt;-->
                                        <!--<div class="box-body">-->
                                            <!--<p>All files including the compiled CSS. Download this version if you plan on customizing the template. <b>Requires a LESS compiler.</b></p>-->
                                            <!--<a href="http://almsaeedstudio.com/download/AdminLTE" class="btn btn-danger"><i class="fa fa-download"></i> Download</a>-->
                                        <!--</div>&lt;!&ndash; /.box-body &ndash;&gt;-->
                                    <!--</div>&lt;!&ndash; /.box &ndash;&gt;-->
                                <!--</div>&lt;!&ndash; /.col &ndash;&gt;-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                </div>
            </div>
        </nav>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
