<div ng-controller="GlobalController"> </div> <!-- Global controller -->

<style>
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Centering nav-tabs -- DO NOT DELETE */
.nav-tabs > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}
/* Centering nav-tabs -- DO NOT DELETE! */
.nav-tabs {
    text-align:center;
}
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        Admin Panel
		</h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Layout</a></li>
            <li class="active">Collapsed Sidebar</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

		<nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <ul class="nav nav-tabs">
                    <li class="active fake-hyperlink" ng-class="vm.viewInfo == 1 ? 'my-active' : ''">
                        <!--Create tab
                            Create Department
                            Create Office
                        -->
                        <a data-toggle="tab" ng-click="vm.toggleView('1')">
                            <span class="fa fa-building"></span> Office Management
                        </a>
					</li>

					<li class="active fake-hyperlink" ng-class="vm.viewInfo == 2 ? 'my-active' : ''">
                        <!--Delete tab
                            Delete Department
                            Delete Office
                        -->
                        <a data-toggle="tab" ng-click="vm.toggleView('2')">
                            <span class="fa fa-sitemap"></span> Deparment Management
                        </a>
					</li>
                    <!--Additional tabs can be added here-->
                </ul>

                <div class="tab-content">
                    <!--Create New Office/Department tab-->
                    <div id="create-office-department" ng-if="vm.viewInfo == 1">
						<div class="container-fluid">
                            <!-- Holds the searchbars for small devices -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <div class="panel panel-default ">
                                        <div class="panel-heading text-center fake-hyperlink" data-toggle="collapse" href="#toggle-office-add" style="width: 100%">
                                            <h4 translate="CLICK_CREATE_OFFICE">Create new office</h4>
                                        </div>
                                        <div class="panel-body panel-collapse collapse" id="toggle-office-add">

                                            <!-- Holds the office drop down list, shown when the window is small -->
                                            <div class="top-buffer " id="office_form">
                                                <form id="createOfficeForm" >
                                                    <fieldset>
                                                        <legend translate="NEW_OFFICE_INFO" class="col-md-offset-1 col-md-10">New Office Information</legend>

                                                        <!--Office Name-->
                                                        <div class="row">
                                                            <div class="form-group col-md-10 col-md-offset-1">
                                                                <label translate="OFFICE_NAME" for="OfficeName">Office Name <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                                                <input type="text" class="form-control" id="OfficeName" ng-model="vm.newoffice.name"/>
                                                            </div>
                                                        </div>

                                                        <!--Office Street Address-->
                                                        <div class="row">
                                                            <div class="form-group col-md-10  col-md-offset-1">
                                                                <label translate="OFFICE_ADDRESS" for="OfficeAddress">Office Address <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                                                <input type="text" class="form-control" id="OfficeAddress" placeholder="Street address, and suburb" ng-model="vm.officeaddress.address"/>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <!--Office City-->
                                                            <div class="form-group col-md-6  col-md-offset-1">
                                                                <label translate="CITY" for="OfficeCity">City <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                                                <input type="text" class="form-control" id="OfficeCity" ng-model="vm.officeaddress.city"/>
                                                            </div>
                                                            <!--Office Postcode-->
                                                            <div class="form-group col-md-4">
                                                                <label translate="POSTCODE" for="OfficePostcode">Postcode <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                                                <input type="text" class="form-control" id="OfficePostcode" ng-model="vm.officeaddress.postcode"/>
                                                            </div>
                                                        </div>

                                                        <!--Office Country-->
                                                        <div class="row">
                                                            <div class="form-group col-md-10  col-md-offset-1">
                                                                <label translate="COUNTRY" for="OfficeCountry">Country <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                                                <select class="form-control" id="OfficeCountry" ng-model="vm.officeaddress.country">
                                                                    <option value={{c}} title={{c}} ng-repeat="c in vm.countries">{{c}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <!--Office Phone number-->
                                                        <div class="row">
                                                            <div class="form-group col-md-10  col-md-offset-1">
                                                                <label translate="PHONE_NUM" for="OfficePhone">Phone Number <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                                                <input type="text" class="form-control" id="OfficePhone" ng-model="vm.newoffice.phone"/>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <!--Form submission / reset-->
                                                    <div class="row">
                                                        <div class="form-group col-md-5  col-md-offset-1">
                                                            <button translate="SUBMIT" type="submit" class="btn btn-primary btn-block" ng-click="vm.createOffice(vm.newoffice, vm.officeaddress)">Submit</button>
                                                        </div>
                                                        <div class="form-group col-md-5">
                                                            <button translate="CLEAR" type="reset" class="btn btn-danger btn-block">Clear</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-10  col-md-offset-1">
                                    <table class="table table-condensed table-striped">
                                        <thead>
                                        <tr>
                                            <th translate="NAME">Name</th>
                                            <th translate="PHONE">Phone</th>
                                            <th translate="ADDRESS">Address</th>
                                            <th translate="ACTIONS">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="p in vm.offices" ng-click="vm.showModal(p)" class="fake-hyperlink row-list">
                                            <td>{{p.name}}</td>
                                            <td>{{p.phone}}</td>
                                            <td>{{p.address.address + ', ' + p.address.city + ', ' + p.address.country + ' ' + p.address.postcode}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary">Edit</button>
                                                <button type="button" class="btn btn-danger" ng-click="vm.deleteNews(vm.modalNews)">Delete</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--endof Create New Office/Department tab-->

                    <!--Delete tab-->
                    <div id="delete-tab" ng-if="vm.viewInfo == 2">
                        <div class="container-fluid">
                            <!-- Holds the searchbars for small devices -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-10">
                                    <div class="panel panel-default ">
                                        <div class="panel-heading text-center fake-hyperlink" data-toggle="collapse" href="#smallDeviceSearch" style="width: 100%">
                                            <h4 translate="CLICK_CREATE_DEPARTMENT">Create new department</h4>
                                        </div>
                                        <div class="panel-body panel-collapse collapse" id="smallDeviceSearch">

                                            <!-- Holds the office drop down list, shown when the window is small -->
                                            <div class="top-buffer" id="dept_form">
                                                <form id="create-department">
                                                    <fieldset>
                                                        <legend translate="NEW_DEPARTMENT_INFO" class="col-md-offset-1 col-md-10">New Department Information</legend>

                                                        <!--Department Name-->
                                                        <div class="row">
                                                            <div class="form-group col-md-10  col-md-offset-1">
                                                                <label translate="DEPARTMENT_NAME" for="DepartmentName">Department Name <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                                                <input type="text" class="form-control" id="DepartmentName" ng-model="vm.newdept.dname"/>
                                                            </div>
                                                        </div>

                                                        <!--Head of Department-->
                                                        <div class="row">
                                                            <div class="form-group col-md-10  col-md-offset-1">
                                                                <label translate="HEAD_OF_DEPARTMENT" for="DepartmentAddress">Head of Department <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                                                <!--<input type="text"-->
                                                                <!--ng-model="vm.newdept.dhead"/>-->
                                                                <md-autocomplete
                                                                    md-no-cache=true
                                                                    md-selected-item="vm.newdept.dhead"
                                                                    md-search-text-change="vm.queryTags(vm.searchText)"
                                                                    md-search-text="vm.searchText"
                                                                    md-items="item in vm.queryTags(vm.searchText)"
                                                                    md-item-text="item.name + ' (' + item.username + ')'"
                                                                    md-min-length="3"
                                                                    placeholder="Find employee"
                                                                    id="dhead">
                                                                    <md-item-template>
                                                                        <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.name + ' (' + item.username + ')'}}</span>
                                                                    </md-item-template>
                                                                    <md-not-found>
                                                                        No employee matching "{{vm.searchText}}" were found.
                                                                    </md-not-found>
                                                                </md-autocomplete>
                                                            </div>
                                                        </div>

                                                        <!--Departent Office-->
                                                        <div class="row">
                                                            <div class="form-group col-md-10  col-md-offset-1">
                                                                <label translate="DEPARTMENT_OFFICE" for="DepartmentOffice">Department Office <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                                                <select class="form-control" id="deptOffice" ng-model="vm.newdept.office.id">
                                                                    <option ng-repeat="office in vm.offices" value="{{office.id}}">{{office.name}}</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </fieldset>

                                                    <!--Form submission / reset-->
                                                    <div class="row">
                                                        <div class="form-group col-md-5 col-md-offset-1">
                                                            <button translate="SUBMIT" type="submit" class="btn btn-primary btn-block" ng-click="vm.createDepartment(vm.newdept)">Submit</button>
                                                        </div>
                                                        <div class="form-group col-md-5">
                                                            <button translate="CLEAR" type="reset" class="btn btn-danger btn-block">Clear</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-10  col-md-offset-1">
                                    <table class="table table-condensed table-striped">
                                        <thead>
                                        <tr>
                                            <th translate="NAME">Name</th>
                                            <th translate="OFFICE">Office</th>
                                            <th translate="DEPARTMENT_HEAD">Department Head</th>
                                            <th translate="ACTIONS">Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="p in vm.departments" ng-click="vm.showModal(p)" class="fake-hyperlink row-list">
                                            <td>{{p.dname}}</td>
                                            <td>{{p.office.name}}</td>
                                            <td>{{p.dhead.name}}</td>
                                            <td>
                                                <button type="button" class="btn btn-primary">Edit</button>
                                                <button type="button" class="btn btn-danger" ng-click="vm.deleteNews(vm.modalNews)">Delete</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--endof delete tab-->


                </div>
            </div>
        </nav>


    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Pop out content -->

<div class="modal fade" id="accNotify" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Account successfully created.</h4>
            </div>
            <div class="modal-body">
                <p id="modalText"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<script>
    $('#accNotify').on('hidden.bs.modal', function() { //function called after modal pop out is closed
        $('#createAccForm').trigger('reset');
    })
</script>
<!-- END pop out content -->

