<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!--Stylesheet for date input-->
<link rel="stylesheet" href="../../../styles/fontawesome.min.css" />

<style>
    .container-fluid {
        padding-top: 0px;
        padding-bottom: 20px;

    }
</style>
<!--Content Wrapper containing page content-->
<div class="content-wrapper wrapper-height leaveApplicationForm">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
            <h1 translate="LEAVE_APPLICATION">Leave Application</h1>
            <form id="leaveApplication" method="POST">
                <h3 translate="DURATION_OF_ABSENCE">Duration of Absence</h3>

                <div class="row">
                    <!--Datepicker from -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <label class="control-label " for="leave_application_date_from"><span translate="DATE_FROM">From</span>: <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                        <div class="input-group">
                            <input class="form-control" id="leave_application_date_from" name="leave_application_date_from" type="text"/>
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <!--endof Datepicker from -->

                    <!--Datepicker to -->
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <label class="control-label" for="leave_application_date_to"><span translate="DATE_TO">To</span>: <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                        <div class="input-group">
                            <input class="form-control" id="leave_application_date_to" name="leave_application_date_to" type="text"/>
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                        </div>
                    </div>
                    <!--endof Datepicker to -->
                </div>

                <div class="row">
                    <!--Reason for leave drop-down list-->
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style="padding-top: 10px">
                        <label class="control-label" for="leave_type"><span translate="TYPE_OF_LEAVE">Type of Leave</span>: <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                        <select id="leave_type" class="form-control" ng-model="vm.leave.type">
                            <option translate="SICK" value="sick">Sick/Carer</option>
                            <option translate="MARRIAGE" value="marriage">Marriage</option>
                            <option translate="ANNUAL" value="annual">Annual</option>
                            <option translate="MATERNITY" value="maternity">Maternity</option>
                            <option translate="BEREAVEMENT" value="bereavement">Bereavement</option>
                            <option translate="PERSONAL" value="personal">Personal</option>
                        </select>
                    </div>
                </div>

                <!--endof Reason -->

                <!--Comments/additional information textfield-->
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <label for="additional_info"><h3><span translate="REASON">Reason/Additional information</span>:</h3></label>
                        <textarea class="form-control" rows="5" id="additional_info" ng-model="vm.leave.reason"></textarea>
                        <!--endof Comment/additional information textfield-->
                    </div>
                </div>

                <!--Attachment and Submission-->
                <div class="row">
                    <!--File Upload
                    <br>
                    <input type="file" id="uploadfiles" multiple="multiple" />
                    <script src="upload.js"></script>-->
                    <br>
                    <!--Submit form button-->
                    <div class="form-group col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                        <button type="submit" translate="SUBMIT" class="btn btn-primary" ng-click="vm.submitLeave()">Submit</button>
                        <button type="reset" translate="RESET" class="btn btn-danger">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>
<!--endof content-wrapper -->

<!-- page specific script -->
<script type="text/javascript">
    $(function() {

    });
</script>
<!-- end for page specific script -->
