<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
		<h1>
			<span translate="STAFF_DIRECTORY">Staff Directory</span>
		</h1>
        <ol class="breadcrumb">
            <li><a translate="HOME" href="#"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a translate="LAYOUT" href="#">Layout</a></li>
            <li class="active" translate="COLLAPSED_SIDEBAR">Collapsed Sidebar</li>
        </ol>
    </section>


	<!-- Page Content -->
	<section class="content" >

		<!-- Holds the top searchbar -->
		<div class="row " id="searchbar-row">
			<form>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<input type="text" class="form-control input" id="search-bar" placeholder="Find people..."
                       length="12" ng-model="vm.searchTerm" ng-keyup="vm.getProfilesByString(vm.searchTerm, 1)">
			</div>
			<div class="hidden-xs hidden-sm col-md-4">
                <!--<button type="submit" translate="SEARCH" class="btn btn-primary btn-blue no-left-margin" >Search</button>-->
			</div>
			<div class="hidden-xs hidden-sm col-md-4">
				<!-- Empty Space -->
			</div>
			</form>
		</div>

		<!-- Holds the alphabet buttons, shown when the window is large -->
		<div class="top-buffer hidden-xs text-center " id="alphabetButtons">
				<button type="button" translate="ALL_PROFILES" class="btn btn-primary btn-square btn-blue btn-sm" ng-click="vm.getProfiles(1)">All Profiles</button>
				<button type="button" class="btn btn-primary btn-alphabet btn-blue btn-sm" ng-click="vm.getProfilesByLetter(x, 1)" ng-repeat="x in vm.alphabet">{{x}}</button>
		</div>

		<!-- Holds the searchbars for small devices -->
		<div class="panel panel-default visible-xs">
			<div class="panel-heading text-center fake-hyperlink" data-toggle="collapse" href="#smallDeviceSearch"><h4 translate="CLICK_SHOW_HIDE">Click to Show/Hide Search Parameters</h4></div>
			<div class="panel-body panel-collapse collapse" id="smallDeviceSearch">
				<!-- Holds the alphabet drop down list, shown when the window is small -->
					<div class=" visible-xs text-center " id="alphabetSelect">
						<label translate="SEARCH_BY_LETTER" for="alphabetDropDown">Search By Letter</label>
						<select label="Search by Letter" class="form-control" id="alphabetDropDown" ng-change="vm.getProfilesByOffice(vm.xsletter)" ng-model="vm.xsletter">
							<option translate="CHOOSE_A_LETTER" value="">Choose a Letter</option>
							<option ng-repeat="x in vm.alphabet" ng-click="vm.getProfilesByLetter(x, 1)" value={{x}}>{{x}}</option>
						</select>
					</div>


					<!-- Holds the office drop down list, shown when the window is small -->
					<div class="top-buffer  text-center " id="officeSelect">
						<label translate="SEARCH_BY_OFFICE" for="officeDropDown">Search By Office</label>
						<select label="Search by Office" class="form-control" id="officeDropDown" ng-change="vm.getProfilesByOffice(vm.xsoffice)" ng-model="vm.xsoffice">
							<option translate="CHOOSE_AN_OFFICE" value={{-1}}>Choose an Office</option>
							<option ng-repeat="o in vm.offices" ng-click="vm.getProfilesByOffice(o)" value={{o.id}}>{{o.name}}</option>
						</select>
					</div>

					<!-- Holds the department drop down list, shown when the window is small -->
					<div class="top-buffer  text-center " id="departmentSelect">
						<label translate="SEARCH_BY_DEPARTMENT" for="departmentDropDown">Search By Department</label>
						<select label="Search by Department" class="form-control" id="departmentDropDown" ng-change="vm.getProfilesByDepartment(vm.xsdept)" ng-model="vm.xsdept">
							<option translate="CHOOSE_A_DEPARTMENT" value={{-1}}>Choose a Department</option>
							<option ng-repeat="d in vm.availableDepartments" ng-click="vm.getProfilesByDepartment(d)" value={{d.id}}>{{d.dname}}</option>
						</select>
					</div>
			</div>
		</div>




		<!-- This div tag holds the sidebar and directory grid -->
		<div class="container-fluid hidden-xs" id="directory">
			<!-- Holds the sidebar and profile grid -->
			<div class="row" id="thing">
				<!-- Holds the office/department sidebar -->
				<div class="col-xs-2 top-buffer panel panel-default no-overflow">
					<div class="top-buffer" id="sidebarOffices">
						<table class="table table-condensed table-hover no-overflow">
							<thead>
								<tr>
									<th translate="OFFICES">Offices</th>
								</tr>
							</thead>
							<tbody ng-if="vm.offices">
								<tr ng-repeat="o in vm.offices">
									<td class="fake-hyperlink" ng-click="vm.getProfilesByOffice(o.id, o.name)">{{o.name}}</td>
								</tr>
							</tbody>

							<tbody ng-if="!vm.offices">
								<tr>
									<td translate="LOADING">Loading...</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="big-top-buffer" id="sidebarDepartments">
						<table class="table table-condensed table-hover">
							<thead>
								<tr>
									<th><span ng-if="vm.selectedOffice">{{vm.selectedOffice}}'s </span><span translate="DEPARTMENTS">Departments<span></th>
								</tr>
							</thead>
							<tbody ng-if="vm.availableDepartments">
								<tr ng-repeat="d in vm.availableDepartments">
									<td class="fake-hyperlink" ng-click="vm.getProfilesByDepartment(d.id)">{{d.dname}} @ {{d.office.name}}</td>
								</tr>
							</tbody>

							<tbody ng-if="!vm.availableDepartments">
								<tr>
									<td translate="CHOOSE_AN_OFFICE">Choose an Office</td>
								</tr>
							</tbody>
						</table>
					</div>

				</div>

				<!-- Holds the profile grid -->
				<div class="col-xs-10" id="grid">

                    <!-- Row 1 -->

                    <div class="row top-buffer" id="row1">
                        <div class="col-xs-3 directory-box" ng-repeat="u in vm.users track by $index"
                                                            ng-click="vm.showProfile($index)"
                                                            ng-if="vm.users[$index]" ng-attr-id="{{'box' + $index}}" style="margin-bottom: 10px;">
                            <div class="row" ng-attr-id="{{'info' + $index}}">
                                <div class="hidden-xs hidden-sm col-md-4">
                                    <img class="img-circle profile-icon" ng-src="{{vm.users[$index].imageURL ? vm.baseURL + vm.users[$index].imageURL : 'http://i.imgur.com/G8rcrgj.jpg'}}"/>
                                </div>
                                <div class="col-xs-12 col-md-8 text-center">
                                    <span>{{vm.users[$index].name}}</span>
                                    <br>
                                    {{vm.users[$index].department.dname}}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
				<!-- End of the profile grid -->





			</div>

		</div>

		<!-- Holds the page index -->
		<div class="text-center" id="pageIndex">
			<div class="row">
				<span translate="PAGE">Page</span> {{vm.currentPage}}<span ng-if="vm.lastPage > 1"> <span translate="OF">of</span> {{vm.lastPage}}</span>
			</div>
			<div class="row">
				<ul class="pagination block-center">
					 <li><a href="#" id="previousPageButton" ng-click="vm.getPreviousProfilePageByQuery()" ng-if="vm.lastPage > 1 && vm.currentPage > 1"><<</a></li>
					 <li><a href="#" ng-repeat="x in vm.paginationList" ng-click="vm.getPageByQuery(x) ">{{x}}</a></li>
					 <li><a href="#" id="nextPageButton" ng-click="vm.getNextProfilePageByQuery()" ng-if="vm.lastPage > 1 && vm.currentPage != vm.lastPage">>></a></li>
				</ul>
			</div>
		</div>


		<div class="visible-xs">
			<div class="directory-box text-center"
                 ng-repeat="u in vm.users track by $index"
                 ng-click="vm.showProfile($index)"
                 ng-if="vm.users[$index]" ng-attr-id="{{'profileList' + $index}}"
                 style="margin-bottom: 10px;" >
				<div class="row">
					<div class="col-xs-4">
						<img class="img-circle profile-icon" ng-src="{{vm.users[$index].imageURL ? vm.baseURL + vm.users[$index].imageURL : 'http://i.imgur.com/G8rcrgj.jpg'}}"/>
					</div>
					<div class="col-xs-8 text-center">
						{{vm.users[$index].name}}
						<br>
						{{vm.users[$index].department.dname}}
					</div>
				</div>
			</div>
		</div>



    </section>
	<!-- End of Page Content -->


	<!-- Modal -->
	<div class="modal" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content rounded-corners">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="profileModalLabel">{{vm.header}}</h4>
				</div>
				<div class="modal-body">

					<div class="row">
						<div class="col-xs-4"><img class="img-thumbnail modal-icon" src="http://i.imgur.com/G8rcrgj.jpg"/></div>
						<div class="col-xs-8">
							<span class="directory-name">{{vm.name}}</span>
							<br>
							{{vm.position}}
							<br>
							{{vm.department}}
							<br>
							{{vm.office}}
							<br>
							<a href="" ng-click="vm.transitionToProfile(vm.staffNum)">Edit Profile...</a>
						</div>
					</div>


					<div class="panel-group top-buffer">

						<div class="panel-body grey">
							<div class="row">
								<div class="col-xs-2 text-right"><i class='fa fa-phone fa-2x' style='size: 50px;'></i></div>
								<div class="col-xs-10">{{vm.phone}}</div>
							</div>
							<div class="row">
								<div class="col-xs-2 text-right"><i class='fa fa-envelope fa-2x' style='size: 50px;'></i></div>
								<div class="col-xs-10">{{vm.email}}</div>
							</div>
						</div>

						<div class="panel-body">

							<div class="row">
								<div class="col-xs-2 text-right"><b translate="STAFF_NUM">Staff No.</b></div>
								<div class="col-xs-10">{{vm.staffNum}}</div>
							</div>
							<div class="row">
								<div class="col-xs-2 text-right"><b translate="LANGUAGE">Language</b></div>
								<div class="col-xs-10">{{vm.language}}</div>
							</div>
							<div class="row">
								<div class="col-xs-2 text-right"><b></b></div>
								<div class="col-xs-10"></div>
							</div>
						</div>

						<div class="panel-body">

							<div class="row">
								<div class="col-xs-2 text-right"><b translate="STATUS">Status</b></div>
								<div class="col-xs-10"><span  ng-if="vm.staffStatus" translate="ENABLED">Enabled</span><span ng-if="!vm.staffStatus" translate="DISABLED">Disabled</span></div>
							</div>
							<div class="row">
								<div class="col-xs-2 text-right"><b translate="POSITION">Position</b></div>
								<div class="col-xs-10">{{vm.position}}</div>
							</div>
						</div>


						<div class="panel-body grey" ng-if="vm.userIsAdmin" id="PositionBox">
							<label for="PrivilegeDropdown"><span translate="CHANGE">Change</span> {{vm.name}}'s <span translate="POSITION_TO">Position to:</span></label>
							<select class="form-control" id="PositionDropdown"
                                    ng-model="vm.currentPosition" ng-change="vm.setPosition(vm.modalIndex)"
                                    ng-options="p as p for p in vm.positionList">
							</select>
						</div>

					</div>





				</div>
				<div class="modal-footer">
					<button type="button" translate="DISABLE_ACCOUNT" class="btn btn-danger pull-left" ng-if="vm.isEnabled&&vm.userIsAdmin" ng-click="vm.disableProfile(vm.modalIndex)">Disable Account</button>
					<button type="button" translate="ENABLE_ACCOUNT" class="btn btn-success pull-left" ng-if="!vm.isEnabled&&vm.userIsAdmin" ng-click="vm.enableProfile(vm.modalIndex)">Enable Account</button>
					<button type="button" translate="CLOSE" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>





</div>
<!-- /.content-wrapper -->
