<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <span translate="TODO_LIST">To-do List</span>
        </h1>
        <ol class="breadcrumb">
            <li><a translate="HOME" href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a translate="LAYOUT" href="#">Layout</a></li>
            <li translate="COLLAPSED_SIDEBAR" class="active">Collapsed Sidebar</li>
        </ol>
    </section>

    <!-- Main content -->

    <!-- *****To-do list***** -->
    <section class="content">
        <div class="container">

            <div style="font-size:20px">
                <div class="text-right">
                    <form>
                        <input type="text" class="rounded-textfield col-xs-2 col-md-3 col-md-offset-8" placeholder="Enter item here.." ng-model="vm.newItem.title"/>
                        <button type="submit" class="add-item btn btn-link btn-sm" ng-click="vm.addItem(vm.newItem)"></button>
                    </form>
                </div>

                <h2 translate="PLANNED_TASK">Planned Tasks</h2>
                <table class="table table-striped table-hover todo-table" >
                    <tr>
                        <th translate="NUMBER">#</th>
                        <th translate="TASK_NAME">Task Name</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="i in vm.items">
                        <td><input type="checkbox" ng-change="vm.markDone(i)" ng-model="i.done"/></td>
                        <td>{{i.title}}</td>
                        <td class="action-button">
                            <button type="button" class="add-item btn btn-link btn-sm" ng-click="vm.popupModal(i)"></button>
                            <button type="button" class="delete-item btn btn-link btn-sm" ng-click="vm.deleteItem(i, vm.items)"></button>
                        </td>
                    </tr>
                </table>

                <button type="button" class="btn btn-link col-md-offset-5" ng-click="vm.toggleDone()">{{vm.doneItems.length}} <span translate="COMPLETED_TASKS">Completed Tasks</span></button>

                <table class="table table-striped table-hover todo-table" ng-if="vm.showingDone" style="margin-top: 10px;">

                    <tr>
                        <th translate="NUMBER">#</th>
                        <th translate="TASK_NAME">Task Name</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="i in vm.doneItems">

                        <td><input type="checkbox" checked ng-change="vm.markUndone(i)" ng-model="i.done"/></td>
                        <td><strike>{{i.title}}</strike></td>
                        <td class="action-button">
                            <button type="button" class="add-item btn btn-link btn-sm" ng-click="vm.popupModal(i)"></button>
                            <button type="button" class="delete-item btn btn-link btn-sm" ng-click="vm.deleteItem(i, vm.doneItems)"></button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </section>


    <!-- Modal -->
    <div class="modal" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="todoModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-corners">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="todoModalLabel">To-do Task</h4>
                </div>
                <div class="modal-body grey">

                    <form id="todoForm">
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-md-10  col-md-offset-1">
                                    <label for="Title">Title</label>
                                    <input type="text" class="form-control" id="Title" ng-model="vm.todoModal.title" ng-disabled="!vm.isEditing"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-10  col-md-offset-1">
                                    <label for="Text">Description</label>
                                    <textarea type="text" class="form-control" id="Text" ng-model="vm.todoModal.text" rows="3" ng-disabled="!vm.isEditing"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-10  col-md-offset-1">
                                    <label for="DueDate">Due</label>
                                    <input type="text" class="form-control" id="DueDate" ng-disabled="!vm.isEditing"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-10  col-md-offset-1">
                                    <label for="Done">Done </label>
                                    <input type="checkbox" id="Done" ng-model="vm.todoModal.done" ng-disabled="!vm.isEditing"/>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary pull-left" ng-if="!vm.isEditing" ng-click="vm.startEdit()">Edit</button>
                    <button type="button" class="btn btn-success pull-left" ng-if="vm.isEditing" ng-click="vm.updateItem(vm.todoModal, false, [], [], vm.oldModalDone)">Save</button>
                    <button type="button" class="btn btn-danger pull-left" ng-if="vm.isEditing" ng-click="vm.endEdit()">Cancel</button>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger pull-right" ng-click="vm.deleteEvent(vm.modalEvent, vm.profiles)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
