<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!-- Special version of Bootstrap that only affects content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<style>
    .container-fluid {
        padding-top: 0px;
        padding-bottom: 20px;
    }
</style>

<script language="javascript">
    function enableDisable(bEnable)
    {
        $('#overtime_date_optional_to').prop('disabled', !bEnable);
        if (!bEnable) {
            $('#overtime_date_optional_to').data("DateTimePicker").date($('#overtime_date').data("DateTimePicker").date());
        }
    }
</script>

<!--Content Wrapper containing page content-->
<div class="content-wrapper wrapper-height overtimeApplicationForm">
    <div class="container-fluid">
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
            <h1 translate="OVERTIME_APPLICATION">Overtime Application</h1>
            <form id="overtimeApplication" method="post">
                <fieldset>
                    <legend translate="DURATION_OF_OVERTIME">Duration of Overtime</legend>
                    <div class="row">
                        <!--overtime application date -->
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label class="control-label requiredField" for="overtime_date"><span translate="DATE_ON">Date</span>: <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <div class="input-group">
                                <input class="form-control" id="overtime_date" name="overtime_date" type="text"/>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <!--endof overtime application date -->
                        <!--overtime application date for prolonged period -->
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <label class="control-label" for="overtime_date_optional_to"><span translate="DATE_TO">To</span>:  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <div class="input-group">
                                <input class="form-control" id="overtime_date_optional_to" name="overtime_date_optional_to" type="text" disabled/>
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>

                                </div>
                            </div>
                        </div>
                        <!--endof overtime application date for prolonged period -->
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" id="div_checkbox">

                            <label class="checkbox-inline">
                                <input name="checkbox" type="checkbox" value="Check this box if more than 1 day is required" onclick="enableDisable(this.checked)" ng-model="vm.optionToDate"/>
                                <span translate="MULTIPLE_DAYS_REQUIRED">Check this box if more than 1 day is required</span>
                            </label>

                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <!--estimated overtime hours-->
                            <label class="control-label " for="estimated_hours"><span translate="ESTIMATED_HOURS">Estimated Overtime Hours</span>:  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <div class="input-group">
                                <input class="form-control" id="estimated_hours" name="estimated_hours" type="text"/>
                            </div>
                        </div>
                        <!--endof estimated hours -->
                    </div>

                    <div class="row">
                        <!--reasoning for overtime application -->
                        <div class="form-group col-sm-12 col-xs-12 col-md-12 col-lg-12 col-xl-12">
                            <label class="control-label requiredField" for="textarea_overtime_purpose"><span translate="REASON">Reason(s)</span>: <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <textarea class="form-control" cols="40" id="textarea_overtime_purpose" name="textarea_overtime_purpose" rows="10" ng-model="vm.overtime.reason"></textarea>
                        </div>
                        <!--endof reasoning for overtime application -->
                    </div>

                    <!--Submit/Reset buttons-->
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <button translate="SUBMIT" type="submit" class="btn btn-primary" ng-click="vm.submitOvertime()">Submit</button>
                            <button translate="RESET" type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<!--endof content-wrapper -->
