<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!--Stylesheet for date input-->
<link rel="stylesheet" href="../../../styles/fontawesome.min.css" />

<style>
    .container-fluid {
        padding-top: 0px;
        padding-bottom: 20px;

    }
</style>
<!--Content Wrapper containing page content-->
<div class="content-wrapper wrapper-height expenseClaimForm">
    <div class="container-fluid">
        <form id="expenseClaim" method="post">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
                <h1 translate="EXPENSE_CLAIM_FORM">Expense Claim Form</h1>
                <fieldset>
                    <legend translate="BASIC_INFORMATION">Basic Information</legend>
                    <div class="row">
                        <!--Datepicker from-->
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                            <label for="fromDate" class="control-label"><span translate="DATE_FROM">From</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="fromDate" /><div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            </div>
                        </div>

                        <!--Datepicker to-->
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                            <label for="toDate" class="control-label"><span translate="DATE_TO">To</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <div class="input-group">
                                <input class="form-control" type="text" id="toDate" /><div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-top: 20px">
                        <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                            <label for="amount"><span translate="AMOUNT">Amount</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <input type="text" class="form-control" id="amount" ng-model="vm.expense.amount"/>
                        </div>
                        <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                            <label for="destination"><span translate="DESTINATION">Destination</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <input type="text" class="form-control" id="destination" ng-model="vm.expense.destination"/>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend translate="EXPENDITURE_BREAKDOWN">Expenditure Breakdown</legend>
                    <div class="row">
                        <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                            <label for="foodExpense"><span translate="FOOD_COST">Food Cost:</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <input type="text" class="form-control" value="0" id="foodExpense" ng-model="vm.expense.food"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                            <label for="travelExpense"><span translate="TRAVEL_COST">Travel Cost:</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <input type="text" class="form-control" value="0" id="travelExpense" ng-model="vm.expense.travel"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                            <label for="accommodationExpense"><span translate="ACCOMMODATION_COST">Accommodation Cost:</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <input type="text" class="form-control" value="0" id="accommodationExpense" ng-model="vm.expense.accommodation"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                            <label for="businessExpense"><span translate="BUSINESS_RELATED">Business-related:</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <input type="text" class="form-control" value="0" id="businessExpense" ng-model="vm.expense.business"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                            <label for="otherExpense"><span translate="OTHER_COST">Other Expenditure:</span> <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                            <input type="text" class="form-control" value="0" id="otherExpense" ng-model="vm.expense.other"/>
                        </div>

                        <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                            <label  translate="ADDITIONAL_INFO" for="additionalInformation">Additional Information </label>
                            <textarea class="form-control" rows="5" id="additionalInformation" ng-model="vm.expense.information"></textarea>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="form-group col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                        <button translate="SUBMIT" type="submit" class="btn btn-primary" ng-click="vm.submitClaim(vm.expense)">Submit</button>
                        <button translate="CLEAR" type="reset" class="btn btn-danger">Clear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<!--endof content-wrapper -->

<!-- page specific script -->
<script type="text/javascript">
    $(function() {
        $('#fromDate').datetimepicker({
            format: 'DD/MM/YYYY',
        });

        $('#toDate').datetimepicker({
            format: 'DD/MM/YYYY'
        });

    });
</script>
<!-- end for page specific script -->
