<div ng-controller="GlobalController"> </div> <!-- Global controller -->
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" style="min-height: 921px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
        <span translate="CALENDAR">Calendar</span>
      </h1>
        <ol class="breadcrumb">
            <li><a translate="HOME" href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a translate="LAYOUT" href="#">Layout</a></li>
            <li translate="COLLAPSED_SIDEBAR" class="active">Collapsed Sidebar</li>
        </ol>
    </section>

    <!-- Main content -->

    <!-- *****Calendar***** -->
    <section class="content">
        <div class="container">
            <!--<div id="calendar" class="form-group col-md-12" ></div>-->

            <div class="well">
                <div class="row-fluid">
                    <div class="span8">
                        <tabset>
                            <tab select="vm.renderCalendar('myCalendar3');">
                                <div class="btn-toolbar">
                                    <div class="btn-group" style="margin-left:40%">
                                        <button id="agendaDay" translate="AGENDA_DAY" role="button" class="btn btn-lg btn-default" aria-pressed="true" ng-class="{active: vm.changeActive=='agendaDay'}" ng-click="vm.changeView('agendaDay', 'myCalendar3')">Day</button>
                                        <button id="agendaWeek" translate="AGENDA_WEEK" role="button" class="btn btn-lg btn-default" aria-pressed="true" ng-class="{active: vm.changeActive=='agendaWeek'}" ng-click="vm.changeView('agendaWeek', 'myCalendar3')">Week</button>
                                        <button id="month" translate="AGENDA_MONTH" role="button" class="btn btn-lg btn-default" aria-pressed="true" ng-class="{active: vm.changeActive=='month'}" ng-click="vm.changeView('month', 'myCalendar3')">Month</button>
                                    </div>

                                        <div class="btn-group calTools pull-right">
                                            <button translate="ADD_EVENT" type="button" class="btn btn-success" ng-click="vm.addEvent()">
                                                + Add Event
                                            </button>
                                        </div>
                                </div>
                                <div id="calendar-holder" class="calendar" ng-model="vm.eventSources" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                            </tab>
                        </tabset>
                    </div>

                </div>
            </div>
        </div>
    </section>


    <!-- Modal -->
    <div class="modal" id="calendarModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content rounded-corners">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="profileModalLabel">{{vm.modalEvent.header}}</h4>
                </div>
                <div class="modal-body grey">
                    <form id="eventForm" >
                        <fieldset>
                            <div class="row">
                                <div class="form-group col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
                                    <label translate="EVENT_NAME" for="EventName">Event name</label>
                                    <span class="directory-name">
                                        <input type="text" class="form-control" ng-model="vm.modalEvent.title" ng-disabled="!vm.isEditing" placeholder="Event title">
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-5 col-xs-12 col-md-offset-1">
                                    <label translate="FROM" for="From">From</label>
                                    <input type="text" class="form-control" id="StartDate" ng-disabled="!vm.isEditing"/>
                                </div>
                                <div class="form-group col-md-5 col-xs-12">
                                    <label translate="TO" for="To">To</label>
                                    <input type="text" class="form-control" id="EndDate"  ng-disabled="!vm.isEditing"/>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-10 col-xs-12 col-sm-12 col-md-offset-1">
                                    <label translate="TYPE" for="EventType">Type</label>
                                    <select class="form-control" ng-model="vm.modalEvent.type" ng-disabled="!vm.isEditing">
                                        <option translate="GENERAL" value="general">General</option>
                                        <option translate="IMPORTANT" value="important">Important</option>
                                        <option translate="CELEBRATION" value="celebration">Celebration</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-10 col-xs-12 col-sm-12 col-md-offset-1">
                                    <label translate="ALERT" for="EventAlert">Alert</label>
                                    <select class="form-control" ng-model="vm.modalEvent.alert" ng-disabled="!vm.isEditing">
                                        <option translate="TIME_OF_EVENT" value="0">At time of event</option>
                                        <option translate="5_MIN_BEFORE" value="5">5 minutes before</option>
                                        <option translate="15_MIN_BEFORE" value="15">15 minutes before</option>
                                        <option translate="30_MIN_BEFORE" value="30">30 minutes before</option>
                                        <option translate="1_HOUR_BEFORE" value="60">1 hour before</option>
                                        <option translate="1_DAY_BEFORE" value="1440">1 day before</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
                                    <label translate="NOTE" for="EventNote">Note</label>
                                    <textarea ng-model="vm.modalEvent.note"
                                              ng-disabled="!vm.isEditing"
                                              rows="3"
                                              class="form-control"
                                              placeholder="Note...">
                                    </textarea>
                                </div>
                            </div>

                            <legend translate="ATTENDEES" class="col-md-offset-1 col-md-10">Attendees</legend>
                            <div class="row">
                                <div class="form-group col-md-10 col-sm-12 col-xs-12 col-md-offset-1">
                                    <tags-input ng-model="vm.profiles"
                                                placeholder="Invite a person" size=1% display-property="name"
                                                ng-disabled="!vm.isEditing"
                                                add-from-autocomplete-only=true>
                                        <auto-complete source="vm.queryTags($query)"></auto-complete>
                                    </tags-input>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" translate="EDIT" class="btn btn-primary pull-left" ng-if="!vm.isEditing && !vm.isNew" ng-click="vm.startEdit()">Edit</button>
                    <button type="button" translate="SAVE" class="btn btn-success pull-left" ng-if="vm.isEditing" ng-click="vm.saveEvent(vm.modalEvent, vm.profiles)">Save</button>
                    <button type="button" translate="CANCEL" class="btn btn-danger pull-left" ng-if="vm.isEditing && !vm.isNew" ng-click="vm.endEdit()">Cancel</button>
                    <button type="button" translate="CLOSE" class="btn btn-default pull-right" data-dismiss="modal">Close</button>
                    <button type="button" translate="DELETE" class="btn btn-danger pull-right" ng-if="!vm.isNew" ng-click="vm.deleteEvent(vm.modalEvent, vm.profiles)">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Documentation for FullCalendar: https://fullcalendar.io/docs/ -->
<!--<link rel="stylesheet" href="../../styles/fullcalendar.css" />-->
<link rel="stylesheet" href="/bower_components/fullcalendar/dist/fullcalendar.css">
<script src="/bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script src="../../js/moment.min.js"></script>
<!--<script src="../../js/fullcalendar.js"></script>-->

<style>
    /*** Docs ***/
    .hero-unit {
        position: relative;
        padding: 40px 0;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
        background: #020031;
        background: -moz-linear-gradient(45deg, #020031 0%, #6d3353 100%);
        background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#020031), color-stop(100%,#6d3353));
        background: -webkit-linear-gradient(45deg, #020031 0%,#6d3353 100%);
        background: -o-linear-gradient(45deg, #020031 0%,#6d3353 100%);
        background: -ms-linear-gradient(45deg, #020031 0%,#6d3353 100%);
        background: linear-gradient(45deg, #020031 0%,#6d3353 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
        -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
        -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
        box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
    }
    .hero-unit .btn, .pagination-centered .btn {
        float: none;
        font-weight: normal;
    }
    .hero-unit p {
        margin: 1em 0;
    }
    .bs-docs-social {
        margin-top: 1em;
        padding: 15px 0;
        text-align: center;
        background-color: rgba(245,245,245,0.3);
        border-top: 1px solid rgba(255,255,255,0.3);
        border-bottom: 1px solid rgba(221,221,221,0.3);
    }
    .bs-docs-social-buttons {
        margin-left: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
    }
    .bs-docs-social-buttons li {
        display: inline-block;
        padding: 5px 8px;
        line-height: 1;
    }

    /* Allows .modal-backdrop to remain on the page without blocking */
    .modal-backdrop {
        overflow: hidden;
        height: 0;
        -webkit-transition: opacity 0.15s linear, height 0 0.2s linear;
        -moz-transition: opacity 0.15s linear, height 0 0.2s linear;
        -ms-transition: opacity 0.15s linear, height 0 0.2s linear;
        -o-transition: opacity 0.15s linear, height 0 0.2s linear;
        transition: opacity 0.15s linear, height 0 0.2s linear;
    }
    .modal-backdrop.in {
        height: 100%;
        -webkit-transition: opacity 0.15s linear;
        -moz-transition: opacity 0.15s linear;
        -ms-transition: opacity 0.15s linear;
        -o-transition: opacity 0.15s linear;
        transition: opacity 0.15s linear;
    }

    /*** Calendar ***/

    .calAlert{
        width: 595px; float: right; margin-bottom: 5px;
    }

    .calXBtn{
        float: right; margin-top: -5px; margin-right: -5px;
    }

    .calWell{
        float: left; margin-bottom: 40px;
    }

    .fc-event.openSesame .fc-event-skin{
        background-color: rgb(229, 229, 11);
        color: black;
    }

    .fc-event.customFeed .fc-event-skin{
        background-color: rgb(132, 222, 175);
        color: black;
    }

    .calTools{
        margin-bottom: 10px;
    }
</style>
