<div ng-controller="GlobalController"> </div> <!-- Global controller -->

<style>
    /* Centering nav-tabs -- DO NOT DELETE */
    .nav-tabs > li {
        float:none;
        display:inline-block;
        *display:inline; /* ie7 fix */
        zoom:1; /* hasLayout ie7 trigger */
    }
    /* Centering nav-tabs -- DO NOT DELETE! */
    .nav-tabs {
        text-align:center;
    }
    .wrapper-height {
        min-height: 921px;
    }


</style>


<!--Content Wrapper containing page content-->
<div class="content-wrapper wrapper-height">
    <div id="applicationReviewForm">
        <div class="container-fluid">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 col-md-offset-1 col-lg-offset-1 col-xl-offset-1">
                <form id="applicationReview" method="post">
                    <h1>Application Review</h1>
                    <!--Datepicker Filter-->
                    <fieldset>
                        <legend>Filter by Date</legend>
                        <div class="row" style="padding-bottom: 20px">

                            <!--Datepicker From-->
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label for="fromDate" class="control-label">From <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="application_review_filter_date_from" />
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <!--endof Datepicker From-->

                            <!--Datepicker To-->
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label for="toDate" class="control-label">To <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="application_review_filter_date_to" />
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <!--endof Datepicker To-->
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Filter by Type</legend>
                        <div class="row" style="padding-bottom: 10px">
                            <!--Type Filter-->
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <label for="typeFilter" class="control-label">Type of application<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true" style="color:red"></span></label>
                                <tags-input ng-model="vm.types"
                                            placeholder="Add an application type" size=1%
                                            add-from-autocomplete-only=true>
                                    <auto-complete source="vm.queryTags($query)"></auto-complete>
                                </tags-input>
                            </div>
                            <!--endof Type Filter-->
                        </div>
                    </fieldset>

                    <div class="row" style="padding-bottom: 20px">
                        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12 col-xl-12">
                            <button type="submit" class="btn btn-primary" ng-click="vm.filter()">Filter</button>
                            <button type="reset" class="btn btn-danger">Reset</button>
                        </div>
                    </div>
                </form>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <ul class="nav nav-tabs">
                                    <li class="fake-hyperlink" ng-class="vm.viewPending ? 'my-active' : ''">
                                        <!--Pending Applications
                                        -->
                                        <a data-toggle="tab" ng-click="vm.toggleView('pending-application')">
                                            <span class="glyphicon glyphicon-file"></span> Pending Application
                                        </a></li>
                                    <li class="fake-hyperlink" ng-class="!vm.viewPending ? 'my-active' : ''">

                                        <!--Reviewed Applications
                                        -->
                                        <a data-toggle="tab" ng-click="vm.toggleView('reviewed-application')">
                                            <span class="glyphicon glyphicon-folder-close"></span> Reviewed Application
                                        </a></li>

                                    <!--Additional tabs can be added here-->
                                </ul>
                                <div class="tab-content">
                                    <!--Employee Profile Information tab-->
                                    <div id="pending-application" class=" fade in active" ng-if="vm.viewPending">
                                        <div class="container-fluid">
                                            <form id="application_list">
                                                <table class="table table-condensed table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th><a>Date submitted</a></th>
                                                        <th>Staff name</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th><input type="checkbox" ng-model="vm.checkMaster" ng-change="vm.updateCheckedList(vm.checkMaster, 0, true)"/></th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="p in vm.pendings">
                                                        <td>{{p.submittedDate}}</td>
                                                        <td>{{p.profile.name}}</td>
                                                        <td>{{p.startDate | date:'fullDate'}}</td>
                                                        <td>{{p.endDate}}</td>
                                                        <td>
                                                            <input type="checkbox" name="application_checkbox"
                                                                   ng-checked="vm.checkMaster"
                                                                   ng-model="vm.boxes[p.id]"
                                                                   ng-change="vm.updateCheckedList(vm.boxes[p.id], p.id, false)"/>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </div>
                                    </div>

                                    <!--endof Pending tab-->


                                    <div id="reviewed-application" class=" fade in active" ng-if="!vm.viewPending">
                                        <div class="container-fluid">
                                            <form id="reviewed_application_list">
                                                <table class="table table-condensed table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th><a>Date submitted</a></th>
                                                        <th>Staff name</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Status</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="p in vm.revieweds">
                                                        <td>{{p.submittedDate}}</td>
                                                        <td>{{p.profile.name}}</td>
                                                        <td>{{p.startDate | date:'fullDate'}}</td>
                                                        <td>{{p.endDate}}</td>
                                                        <td><span ng-class="p.status == 'Approved' ? 'label label-success' : 'label label-danger'">{{p.status}}</span></td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </form>
                                        </div>
                                    </div>
                                    <!--endof Statistics tab-->
                                </div>
                            </div>
                        </nav>
                        <div class="action" ng-if="vm.checkedCounter > 0">
                            <button ng-click="vm.handleApplications('Approved')" id="approve" type="submit" class="btn btn-success">Approve</button>
                            <button ng-click="vm.handleApplications('Rejected')" type="submit" class="btn btn-danger">Reject</button>
                        </div>
                        <!-- Holds the page index -->
                        <div class="text-center" id="pageIndex">
                            <div class="row">
                                <span translate="PAGE">Page</span> {{vm.currentPage}}<span ng-if="vm.lastPage > 1"> <span translate="OF">of</span> {{vm.lastPage}}</span>
                            </div>
                            <div class="row">
                                <ul class="pagination block-center">
                                    <li><a href="#" id="previousPageButton" ng-click="vm.getPreviousProfilePage()" ng-if="vm.lastPage > 1 && vm.currentPage > 1"><<</a></li>
                                    <li ng-repeat="x in vm.paginationList"><a href="#" ng-click="vm.getPage(x)" ng-class="x == vm.currentPage ? 'page-active' : ''">{{x}}</a></li>
                                    <li><a href="#" id="nextPageButton" ng-click="vm.getNextProfilePage()" ng-if="vm.lastPage > 1 && vm.currentPage != vm.lastPage">>></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Navbar to switch between profile view and statistics view
        To add more tabs, add addition <li> in <ul> section with the appropriate links
        then add additiona <div> under <div class="tab-content">
        -->

    </div>
</div>
<!--endof content-wrapper-->
